[2019-06-02 05:18] LarsBuur commented on #782
So I managed to fix this issue and for future references, my error was that I did
[code]
 which did install fomantic-ui and triggered the setup process, but messes up the meteor build system / meteor-up.

The solution was to just remove fomantic-ui from package.json and revert the lock file thus running
[code]
fixed my problem.

Looking forward to test, use and contribute to fomantic-ui. Looking g

[2019-06-02 05:18] #782 closed

[2019-06-02 08:08] noinkling opened #791 "[Grid] Column width doesn't behave predictably when using a base width combined with responsive widths"
# Bug Report

Essentially the same report as made here: Semantic-Org/Semantic-UI-React#2869

Read [my comment](https://github.com/Semantic-Org/Semantic-UI-React/issues/2869#issuecomment-498008380) in that issue for why I think it should be considered a bug.

## Version
2.7.5

[2019-06-02 08:32] noinkling commented on #791
As for suggestions how you might fix it I'm not too sure. [Link to the relevant stylesheet](https://github.com/fomantic/Fomantic-UI/blob/b1327153b6f227cd0abd3cec7f0168db150ab537/src/definitions/collections/grid.less#L339).

You could require the base width to come directly before `column` and then changing the attribute selectors to read `[class*="one wide column"]`, etc. But that introduces order

[2019-06-02 12:44] kimnakyeong opened #792 "I want to apply fomantic-ui to index.pug that is made of npm for node.js"
# Help Wanted

## Problem
Describe your problem in great detail

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='../semantic/dist/semantic.css')
    script(src='../semantic/dist/semantic.js')

this is for index.pug and

semantic folder is up of index.pug. so i add '..'

but it doesn't working and I googled it but I do

[2019-06-02 15:27] apple-idn commented on #789
Button groups can show groups of icons
try https://jsfiddle.net/allwe/kj8sdox4/2/

[2019-06-02 15:30] apple-idn commented on #789
Button groups can show groups of icons
try https://jsfiddle.net/allwe/kj8sdox4/15/

[2019-06-02 16:58] nektro commented on #789
@apple-idn while visually this works, functionally it does not because I want the center item to be a `ui basic label` not a `ui basic label button`.

[2019-06-02 17:40] hammy2899 commented on #792
@kimnakyeong Is your web server serving the semantic files? Your path in the `link` and `script` tag will have to be relative for the server not your project structure.

[2019-06-03 06:14] nektro commented on #792
Try this instead:
[code]

[2019-06-03 06:18] lubber-de commented on #790
I cannot reproduce. See my used example here
https://jsfiddle.net/on95rqc1/
If i click on tjhe save button within the modal the toast is shown on top of the modals dimmer as expected.
Please provide a jsfiddle with your code to reproduce the issue. thank you
![image](https://user-images.githubusercontent.com/18379884/58780104-35968d80-85d8-11e9-91ac-c6c2a51503b1.png)

[2019-06-03 06:23] lubber-de commented on #789
Duplicate of #536

[2019-06-03 11:03] hammy2899 commented on #792
@nektro That may not work in this case since they might be installing the package from NPM so they can create a theme and you can't create themes when using the CDN.

[2019-06-03 16:56] #789 closed

[2019-06-03 17:08] Merlin04 commented on #766
The problem also occurs on Google Chrome 67.0.3396.87 (Official Build) (32-bit). I know it probably won't ever be fixed but I thought I'd leave this information here anyway.

[2019-06-04 03:39] apple-idn opened #793 "[Dropdown] display with button item show transition on left or right element"
# Dropdown with button right or left on show

## Problem
how dropdown with button item and left or right show
##Expected
![expected](https://user-images.githubusercontent.com/33564576/58849409-d2325b80-86bc-11e9-9adb-5ac409039da7.jpg)
##result
<img width="161" alt="result" src="https://user-images.githubusercontent.com/33564576/58849423-d9596980-86bc-11e9-9e05-564c7bd0f6ec.png">

https://jsfiddle.

[2019-06-04 06:42] lubber-de commented on #793
You can use `left pointing dropdown` and remove the pointer by
[code]

See https://jsfiddle.net/k1hr9c7o/

[2019-06-04 10:48] lubber-de commented on #787
Thanks for reporting.
It is fixed by #794
See https://jsfiddle.net/4gozw610/

[2019-06-04 12:30] Thanty opened #795 "[Card] Dimmer stays visible"
# Bug Report

Dimmer inside card stays visible if you leave mouse too fast (before animation ends).

Semantic UI doesn't have this type of problem (see docs): https://semantic-ui.com/views/card.html#image

## Testcase
https://jsfiddle.net/tncqskro/

## Expected result

![expected](https://media.giphy.com/media/J1peFvxFBPD9ieCDOb/giphy.gif)

## Actual result

![screenshot](https://media.giphy.com/m

[2019-06-04 15:14] lubber-de commented on #795
Duplicate of #747
Fixed by #748
As a workaround try adding https://cdn.jsdelivr.net/gh/lubber-de/fomantic-ui@930f48447ab8998729e919697112517297b04fef/src/definitions/modules/transition.js after fui 2.7.5
See your adjusted jsfiddle here: https://jsfiddle.net/nyzjkbrd/

[2019-06-05 07:55] kocsismate opened #796 "Tab loading can't be cancelled"
# Feature Request

## Description
I have forms in tabs and I'd like to implement a functionality similar to `beforeunload` in order to prevent loading other tabs (thus losing data) when a form has already been modified.

The contents of tabs are loaded via AJAX so I tried to manipulate the `onRequest` event in the `apiSettings` as well as the `beforeLoad` event of the tab but I had no success.

I

[2019-06-05 20:15] GammaGames opened #798 "[Form] Transparent left icon input"
# Bug Report

## Steps to reproduce
1. Create a form
2. Add a field with transparent left icon input
3. Padding is 1em instead of 2em

## Expected result
Should have padding for the icon

## Actual result
Input is smushed against the icon

Might be happening because more precise rule doesn't take into account transparent icon padding

## Testcase
https://jsfiddle.net/2tLh840s/

## Screenshot (when

[2019-06-08 07:08] lubber-de commented on #798
Fixed by #801
See your adjusted jsfiddle here https://jsfiddle.net/wdz41Lqu/

[2019-06-09 14:15] lubber-de commented on #777
Fixed by #803
Example similiar to mentioned homepage: https://jsfiddle.net/1nx4kg52/

[2019-06-09 20:51] 4val0v commented on #319
I also want support for [Angular](https://angular.io/) _(desirable TS)_ + [ivy](https://github.com/angular/angular/blob/master/packages/core/src/render3/STATUS.md) support

[2019-06-10 12:16] bbernhard opened #804 "icon menu creates TypeErrors when hovering fast between entries"
# Bug Report

## Steps to reproduce
1. Create a icon menu with menu entries that have tooltips
2. Hover fast over the individual menu entries

## Expected result
There shouldn't be any errors

## Actual result
There are a lot of TypeErrors generated

## Testcase
https://jsfiddle.net/mv2aferh/1/

## Screenshot
![Selection_011](https://user-images.githubusercontent.com/5710631/59194718-3906b780-8b8a

[2019-06-10 14:23] lubber-de commented on #804
Duplicate of #747
Fixed by #748

See your adjusted jsfiddle here https://jsfiddle.net/L6qtapsm/

[2019-06-10 14:37] hajanajubudeen88 opened #805 "DropDown value issue when ForceSelection set to False"
# Bug Report

In the TestCase, we have given two Dropdown in that ForceSelection set to False for 1st Dropdown  and  True for 2nd Dropdown. Below is the steps to follow for both the dropdown, in that both dropdown will show different behavior.

## Steps to reproduce
1.  Select any value in both the dropdown and press submit button.
2.  Alert message will display the text of both the dropdown for r

[2019-06-10 17:05] lubber-de commented on #805
I agree, the left dropdown using `forceSelection:false` should provide the value (equal to text in that case).
However, i don't agree the other dropdown (`forceSelection:true`) should provide the manual entered value (and it actually can't because on blur it resets to the previous selected value (which is expected behavior)

[2019-06-10 18:06] aardbol opened #806 "XHR doesn't work with API"
# Bug Report
I found a condition where API calls don't work properly, but I'm not sure if I can explain it properly. Here goes:

The issue is related to basic authentication and unauthorized responses. Note that this issue is occurring because I'm trying to verify logins by sending an API call to the REST API by setting the username and password in the Basic Authentication header. The issue doesn'

[2019-06-10 20:48] lubber-de commented on #806
Looking at the latest relevant jquery 3.4 code (which sets all `headers` right before calling `beforeSend`)

https://github.com/jquery/jquery/blob/master/src/ajax.js#L655-L665

I don't see any reason why providing your Basic-Auth headers (either as `header` option or set within `beforeSend`) should make any difference.
Maybe you are using an older version of jquery which probably works different (

[2019-06-11 07:20] hajanajubudeen88 commented on #805
**Thanks for the Response @lubber-de**

Is there any solution to fix this issue?

[2019-06-11 08:43] aardbol commented on #806
That doesn't work though. It seems like that header is completely ignored, as 401 errors are consistently returned. I verified with the one I posted above.

Using jQuery 3.3.1, but newer versions don't mention any change in this aspect.

I also checked the underlining code, but could't figure out the difference between `headers` and `setRequestHeader()` in `beforeSend`

[2019-06-11 09:24] lubber-de commented on #806
@aardbol Ah, yes, sure. Using the `headers` option would immediatly take the `.val` on api init time, while in `beforesend` it does it at runtime.
Anyhow, as the jquery code does the same either using headers or beforesend (`xhr.setRequestHeader`) I currently dont know what to do in FUI to solve your issue, as the http response always comes from your backend and FUI is using the jquery ajax functi

[2019-06-11 12:20] xumix opened #807 "Unable to build Fomantic ui with less-loader"
# Bug Report
I'm trying to customize fomantic and use its styles in my React components

## Steps to reproduce
1. Replace semantic ui with fomantic
2. Create a file with text:
[code]
3. Import the file in some component: ```import semanticStyles from "../../semantic/exports.module.less";```
4. Try to build
5. Get Errors

## Expected result
Successfull build

## Actual result
[code]

If I add this

[2019-06-11 12:33] xumix commented on #807
oops, looks like I've messed up the upgrade, it works ok now, sorry

[2019-06-11 12:33] #807 closed

[2019-06-11 14:32] hajanajubudeen88 opened #808 "DropDown changeEvent not triggered when user enter the value and press tap key"
# Bug Report

In the TestCase, we have given two dropdown in which Force Selection is set to True and False respectively. Below is the steps to reproduce the issue, in which ForceSelection set to false will have issue

## Steps to reproduce
1. for 1st dropdown, Type any value in the dropdown and press Tab. ChangeEvent for the drop down will not trigger because ForceSelection is set to false. But i

[2019-06-11 14:39] lubber-de commented on #808
That's probably the same reason as described in #805 , because internally the value does not seem to be changed and thus does not trigger the onchange event. We'll investigate

[2019-06-12 02:07] JamesYFC commented on #386
I'm trying to run the following commands as mentioned above to install fomantic-ui with yarn on node 10.16.0, win10:

and my gulp install fails with this error:
[code]

Any idea how to fix this?

[2019-06-12 02:45] JamesYFC commented on #386
After poking around a little more, it seems like in here (install.js, line 191-201) it's looking for a nonexistent "base" property in currentConfig, which is assigned by looking for a semantic.json, but that file hasn't been created yet because we ran yarn install with `--ignore-scripts`
[code]

[2019-06-12 15:11] ben-eSM opened #809 "Fast continuous clicking of accordion titles breaks accordion"
# Bug Report

## Steps to reproduce
1. Implement an accordion to your site
2. Continuously fast click on a title

## Expected result
The content should continue to open/close, no matter how often and fast one clicks a title.

## Actual result
After a few clicks there's an javascript error showing up and the accordion or at least the corresponding content won't open or close any longer.

## Version

[2019-06-12 15:19] hammy2899 commented on #809
Confirmed, needs a check for whether the event exists before this line https://github.com/fomantic/Fomantic-UI/blob/master/src/definitions/modules/transition.js#L218

Testcase: https://jsfiddle.net/3r16mg95/

[2019-06-12 15:24] lubber-de commented on #809
Duplicate of #747
Fixed by #748 and part of FUI 2.7.6 🙂

[2019-06-12 23:59] JamesYFC opened #811 "Installing fomantic-ui with yarn - gulp install fails"
# Help Wanted

## Problem
Installation with yarn is not working when running with the following

`yarn add fomantic-ui --ignore-scripts`
`yarn --cwd node_modules/fomantic-ui run install`

the install (autoInstall mode) gulp task seems to fail due to missing semantic.json?

logs:
[code]

more details below...

https://github.com/fomantic/Fomantic-UI/issues/386#issuecomment-501092373
https://github.

[2019-06-13 02:49] rosensama opened #812 "Is it possible to separate "active" and "hover" on a "simple dropdown menu"?"
# Help Wanted

## Problem
I'm trying to use a simple dropdown inside my menu to avoid JS.   But I also want to be able to mark the top level item active when one of its children are selected.   Unfortunately it seems that active and hover are linked and hover opens the menu.   So when I mark the menu active, it extends the drop down.

## Questions
Is there a way I can write some CSS to decouple th

[2019-06-13 08:29] lubber-de commented on #812
You could use your own class to only set the background, but still gain the hover functionality to show the menu:
[code]
See https://jsfiddle.net/3rbd8apk/

[2019-06-13 12:35] donaggio commented on #432
I think I'm possibly hitting a very similar issue here.
I've modified my site.variables to change some colors and launched an npx gulp build-css as usual in the semantic directory. Here's the output:

npx gulp build-css

[14:28:54] Using gulpfile ~/fomanticui/nova/semantic/gulpfile.js
[14:28:54] Starting 'build-css'...
[14:28:54] Starting 'Building uncompressed CSS'...
[14:28:54] Starting 'Buildin

[2019-06-13 13:05] rosensama commented on #812
@lubber-de Thanks!.   Is there a way for me to "import" the same background setting as used by active instead of having to explicitly set to the same?

Instead of
[code]
Something like
[code]
Sorry, but I'm just starting to learn CSS.

[2019-06-13 14:25] lubber-de commented on #812
@rosensama Not using pure CSS (until you could inherit the color from the parent, which is not the case here).
But i have another solution:

Use the usual `active` and add another class which removes the menu when you are not hovering over it

[code]
See https://jsfiddle.net/8rvmoax1/

[2019-06-13 17:37] GammaGames opened #813 "[Progress] Javascript-free variant"
# Feature Request

## Description
I think it would be nice to have a variant of the progress bar that doesn't require javascript to only need a static bar to show status.

## Example
In my demo, I had to add a `style` attribute to the bar with a variable since the [`attr`](https://developer.mozilla.org/en-US/docs/Web/CSS/attr) function doesn't support numbers. I also had to give the progress bar a

[2019-06-14 03:32] #812 closed

[2019-06-14 06:19] lubber-de commented on #793
@apple-idn Does my suggestion work for you? Can we close this?

[2019-06-14 09:43] donaggio commented on #432
This problem disappeared for me too when starting from scratch, so I made a diff from a clean installation and my working dir and noticed that some files were not updated from release to release of sui (before) and fui (more recently). Most important ones were src/semantic.less and src/theme.config. After re-aligning everyhting to a clean installation of fui, my working dir build started to work a

[2019-06-16 06:11] exoego commented on #771
FYI: Fomantic recently released columnar variation of dropdown, which could be useful for showing bigger search results.
https://fomantic-ui.com/modules/dropdown.html#columnar-menu

The suggested enhancement for scrolling is good to have, of course.

[2019-06-16 18:05] aardbol commented on #806
I tested again with FUI 2.7.5 and this issue isn't happening with it. I think (at first sight) I traced it back to issue #497.

I'll test with the latest version next time before I create a new issue :-)

[2019-06-16 18:05] #806 closed

[2019-06-16 19:51] #745 closed

[2019-06-16 19:51] #716 closed

[2019-06-16 19:51] #741 closed

[2019-06-16 19:51] #763 closed

[2019-06-16 19:51] #784 closed

[2019-06-16 19:51] #787 closed

[2019-06-16 19:51] #699 closed

[2019-06-16 19:51] #736 closed

[2019-06-16 19:51] #746 closed

[2019-06-16 19:51] #757 closed

[2019-06-16 19:51] #777 closed

[2019-06-16 19:52] #809 closed

[2019-06-16 19:52] #804 closed

[2019-06-16 19:52] #798 closed

[2019-06-16 19:52] #795 closed

[2019-06-16 19:52] #786 closed

[2019-06-16 19:52] #770 closed

[2019-06-16 19:52] #747 closed

[2019-06-16 23:15] vedranmiletic commented on #777
@lubber-de Updated to 2.7.6 and it's all good now. Thank you very much!

[2019-06-17 08:30] ShiiRochi opened #815 "Transparent input padding is not applied inside form"
# Bug Report

When using transparent input inside a form its padding is overridden by those, applied to input when it is inside form.

I will write in emmet abbrs, so that it would take less time to describe

## Steps to reproduce
1. create .ui.form container
2. place there .ui.transparent,input > input[type=text]
3. look at result

## Expected result
Inside .ui.form > div.ui.transparent.input, in

[2019-06-17 09:37] lubber-de commented on #815
Yes, the behavior is wanted when inputs are inside forms, because of the consistent look when an `error` class is added to a field.
When used inside forms, any input should be wrapped by `field`.

See original discussion here https://github.com/fomantic/Fomantic-UI/issues/107

If you want no padding then use transparent inputs outside of forms.

[2019-06-17 09:37] #815 closed

[2019-06-17 10:34] ShiiRochi opened #816 "Multiple times classes in coloured segments"
# Bug Report

I am trying to implement sided coloured segments and top border is something that breaks everything, so that I need to use !important, what I want to avoid.

## Steps to reproduce
1. create .ui.blue.segment
2. open Inspector
3. select it and see what classList is applied

## Expected result
.ui.blue.segment:not(.inverted) is applied

## Actual result
.ui.blue.segment.segment.segment.

[2019-06-17 12:26] lubber-de commented on #816
The multiple assigned segment class is there to increase specifitiy without using !important, so also wanted behavior.
In cour case you can do the same like
[code]
See https://jsfiddle.net/6pxdewtL/

[2019-06-17 12:28] ShiiRochi commented on #816
Ok, thnx, that’s acceptable solution

[2019-06-17 12:28] #816 closed

[2019-06-17 16:44] lubber-de commented on #688
Assuming, it's answered thus closing.

[2019-06-17 16:44] #688 closed

[2019-06-17 16:48] lubber-de commented on #790
Closing because of no response.
Happy to reopen it, when a reproducable testcase is provided

[2019-06-17 16:48] #790 closed

[2019-06-17 16:49] lubber-de commented on #775
Closing because of no response.
Happy to reopen it, when a reproducable testcase is provided

[2019-06-17 16:49] #775 closed

[2019-06-17 22:07] GammaGames opened #817 "[Dropdown] Multiple search dropdown placeholder text and arrow overlap"
# Bug Report

## Steps to reproduce
1. Create multiple search dropdown
2. Call dropdown method with placeholder text

## Expected result
Arrow should be to the right of the text

## Actual result
Arrow overlaps text

## Testcase
https://jsfiddle.net/jvp1fyuw/

## Screenshot (when possible)
![image](https://user-images.githubusercontent.com/7832163/59639974-f1e46d80-9119-11e9-8e6f-3a518b7d8a6a.png)

[2019-06-18 12:05] hamedwiz commented on #663
Any updates on this?
Having the same issue

[2019-06-18 12:25] lubber-de commented on #663
@hamedwiz Did you try the workaround `forceSelection:false` ?

[2019-06-18 12:35] hamedwiz commented on #663
yes that didn't work

[2019-06-18 12:47] lubber-de commented on #663
@hamedwiz 🤔
See difference here : http://jsfiddle.net/rgmn87ab/
The right dropdown using `forceSelection: false` works .

Could you please adjust the jsfiddle where  `forceSelection: false`  does not work for you ?

[2019-06-18 12:55] hamedwiz commented on #663
I was using it like this `$('.ui.dropdown').dropdown("settings","forceSelection",false);`
using this way: `$.fn.dropdown.settings.forceSelection = false;`
solved the issue
thank you

[2019-06-18 20:39] layershifter opened #818 "Form: field with inline doesn't respect error styles"
# Bug Report

## Steps to reproduce
1. Create a form field with `inline`

## Expected result

![image](https://user-images.githubusercontent.com/14183168/59718194-e7a99880-9219-11e9-9fe4-4016b6a93ce6.png)

## Actual result

![image](https://user-images.githubusercontent.com/14183168/59718071-a0230c80-9219-11e9-9b8c-dcc5881d08d0.png)

## Testcase
https://jsfiddle.net/z5m7f13u/

## Reason

![image](

[2019-06-19 08:53] maibaum007 opened #819 "Checkbox changes state on ENTER key"
Current behavior: Checkboxes change their status, when they are focused and the ENTER-Key is pressed.

Expected behavior: They should only react to space key as native checkboxes do.

Problem: ENTER-Key is used to commit forms.  Now, when you commit a form with ENTER-Key, the value of the checkbox changes unintentionally.

EDIT: Only happens, when checkbox gets initialized via Javascript

[2019-06-19 09:09] lubber-de commented on #818
Fixed by #818
See your adjusted jsfiddle here https://jsfiddle.net/q2bowsne

[2019-06-19 09:18] lubber-de commented on #819
Unfortunately i cannot reproduce this. See my testcase here
https://jsfiddle.net/7kqL485z/
When the checkbox gets clicked/focused , pressing RETURN does nothing as expected, but SPACE does.

Could you please adjust the jsfiddle to make the behavior reproducable, so we can investigate?
Thank you.

[2019-06-19 09:29] aardbol commented on #798
This release messes up the transparent inputs I use though. The padding is by default too much. Have a look:

**FUI 2.7.5**
![2019-06-19 11_19_03-Window](https://user-images.githubusercontent.com/14614620/59753674-ed889380-9284-11e9-8b7b-fa7164b08178.png)

**FUI 2.7.6**
![2019-06-19 11_24_52-Window](https://user-images.githubusercontent.com/14614620/59753683-efeaed80-9284-11e9-8121-271f5e3aa11f.pn

[2019-06-19 09:33] lubber-de commented on #798
@aardbol Please provide a jsfiddle for easier investigation and to see how you implemented it, because the padding is wanted behavior when inputs are used within forms for consistent behavior.
However, if you use the transparent inputs outside of a form the padding should not be there.

[2019-06-19 09:48] lubber-de commented on #819
Nevermind, can reproduce now. It happens when checkox gets initialized via Javascript.
Testcase https://jsfiddle.net/s4pmq7o1/

[2019-06-19 10:47] aardbol commented on #798
As requested:

https://jsfiddle.net/pwzh7gs4/

I find it weird that even though it's inside a form, it's padding like that though. Padding is not bad per se, but imo the way it's implemented looks messy. The height (padding) is invisible to the user, but the left padding isn't

[2019-06-19 11:09] lubber-de commented on #798
@aardbol Thanks for the jsfiddle.
Well, the reason for general padding of input fields in forms was a consistent look especially when fields get the `error` class. #801 was just continuing to apply the consistent look.
See our previous discussion about that topic here https://github.com/fomantic/Fomantic-UI/issues/107

However, i understand your desired behaviour, but i think that means we have to

[2019-06-19 12:51] mkuklik opened #821 "Rating doesn't display when using with semantic-ui-react"
# Bug Report
I apologize in advance if it is a wrong forum for my issue. I am using Fomantic-ui with React. To this end, I'm using semantic-ui-react module. Everything seems to work nicely but Rating component. It doesn't show at all. It is surprising especially since it looks to be identical to Semantic-UI.

Is it an issue with Fomantic-UI or incompatibility between Semantic-ui-react and Fomantic

[2019-06-19 12:57] SunflowerFuchs opened #822 "[Checkbox] Text-only radio choice"
# Feature Request

## Description
My coworker suggested that it would be nice to have a radio-style selection of options, but consisting only of a block of text without a visible radio button, and instead the chosen option being highlighted (e.g. with a different background colour).

## Example
I quickly threw this together to have a basic example, it's not the prettiest but it works
https://jsfid

[2019-06-19 13:16] hajanajubudeen88 opened #823 "Check box is not center aligned in form"
# Bug Report
In the fiddle i created four fields form and in that 3 text field and one check box, in that checkbox is not aligned properly, below the details to reproduce the issue

## Steps to reproduce
1. I created four fields form with 3 text field with one checkbox
2. All the four fields have the <b>header label </b> like First Name, Last Name etc.,
3. Whenever i created the checkbox with head

[2019-06-19 13:32] lubber-de commented on #821
The rating module was changed in v2.7.0 by #303 to make it possible to support any icon or color.
This would probably need adjustments in the SUI react code.
What you could try is to import rating.css from sui 2.4.1 right after fomantic 2.7.6 css

[2019-06-19 14:29] maidzen commented on #823
[code]

[2019-06-19 14:35] GammaGames commented on #823
When I added it I thought people would be using the label inside the `.ui.checkbox` div because it's required to make the checkbox show up. Maybe we'd want to add an exception for a fitted checkbox? For example:

[code]
I'm not sure, because this seems like a somewhat small use exception.

Here's an updated fiddle https://jsfiddle.net/Luhzqgn9/

[2019-06-19 14:46] GammaGames commented on #822
That would be a nice feature! I've been using `.ui.segment`s with the following rules to break up forms when there was nested options:

[code]
![Screen record from 2019-06-19 08 43 53](https://user-images.githubusercontent.com/7832163/59775511-95df2d80-926e-11e9-9eb3-7198a4da4eb7.gif)

[2019-06-19 18:03] lubber-de commented on #823
With slight adjustments of @GammaGames ' fiddle it doesn't even need the `fitted` variant of checkbox, so an additional label beside the checkbox is still working

[code]
See https://jsfiddle.net/4poqja0t/

Who volunteers for a PR ? 😉

[2019-06-19 18:28] lubber-de commented on #819
Adjustable via new setting `enableEnterKey: false` by #824
I labeled this issue as enhancement instead of a bug, because the functionality of being able to also use the ENTER key is implemented since a long time and therefore considered wanted behavior. Thus, the new setting of enabled by default to avoid a breaking change.
See https://jsfiddle.net/6o8pvfe4/

[2019-06-19 18:46] lubber-de commented on #573
An unparseable date is not fetched without a JS error by the latest v2.7.6.
As discussed and explained in https://github.com/fomantic/Fomantic-UI/pull/574#pullrequestreview-216771883 i am closing this. If many people disagree i would only agree implementing a debug statement (instead of an console error) to avoid lots of console output, which will otherwise happen too often because of the mentione

[2019-06-19 18:46] #573 closed

[2019-06-21 06:57] hajanajubudeen88 commented on #823
@lubber-de , @GammaGames , @maidzen  Its working Thanks

[2019-06-21 09:49] maidzen opened #827 "[Search] exact matches should be prioritized"
# Feature Request
When using search and i find more result then the limit exact matches should be shown first

## Example
icon car is not found but icons with "car" in name or with tag

## Testcase (when possible)
https://fomantic-ui.com/elements/icon.html
->search car

## Screenshot
![image](https://user-images.githubusercontent.com/17901424/59914270-53f2ea80-941a-11e9-96ac-3bd2a1f68fb2.png)

[2019-06-21 10:09] ghost opened #828 "[cards] horizontal cards too far in mobile view"
I switched from Semantic UI to the latest version of Fomantic-UI and changed some things because of your changes in my web application.

If I go to horizontal cards in the mobile view, I noticed that the width is too far.
![Capture](https://user-images.githubusercontent.com/47126617/59915563-307d6f00-941d-11e9-8a6a-49b4c4b81699.PNG)

[2019-06-21 10:10] #823 closed

[2019-06-21 11:32] maidzen commented on #813
maybe since this kind of css is not working in IE anywaye you could use the native <progress> tag for a css only solution

https://jsfiddle.net/k0axt6db/5/

[2019-06-21 14:36] GammaGames commented on #813
I didn't know about the progress tag, would be nice if it supported the various `.ui.progress` classes too

[2019-06-21 18:30] lubber-de commented on #828
@FFDevelopment
Could you please provide some jsfiddle ? Because i cannot reproduce any wrong width behavior.
See a prepared jsfiddle here https://jsfiddle.net/6wu3mj9b/
The cards wrap as expected when they do not fit horizontally in one row. Of course this lead into a right empty area, but just because the second card does not fit anymore.
Is this, what you are talking about? If so, what would the

[2019-06-21 18:58] lubber-de commented on #828
Ok, i think i understood: I tried my example in an iphone 5 view, then it is getting clear.
![image](https://user-images.githubusercontent.com/18379884/59945017-97734600-9466-11e9-8f76-51ea0b9d9fc7.png)

[2019-06-21 19:11] FFDevelopment commented on #828
Sorry that I didn't write that I mean the mobile view in the browser.

[2019-06-22 10:59] tstar opened #829 "[Calendar] breaks dates that entered from the keyboard"
# Bug Report
The calendar breaks dates that entered from the keyboard, it changes the day and month. The option monthFirst: false does not help. I'm not sure that the defined formatter makes sense for this bug, but I faced it using formatter.
PS: It is better to have the possibility to make custom date parse function like formatter.
## Steps to reproduce
1. Open Fomantic-UI Calendar -> Example ->

[2019-06-23 18:19] utilityboy opened #830 "Steps require "active" class in order to show pointer"
# Bug Report

Not sure if this is intentional, but steps hide their pointer unless expressly "active".

## Expected result

From Semantic-UI: https://semantic-ui.com/elements/step.html

![image](https://user-images.githubusercontent.com/130537/59980284-a1f62280-95c1-11e9-81b4-59112efd0a03.png)

## Actual result

From Fomantic-UI: https://fomantic-ui.com/elements/step.html

![image](https://user-im

[2019-06-23 19:36] lubber-de commented on #830
Regression since #216 / 0fa3831be06c04ea6d7a85ca728c8aabbd07d18a
Fixed by #831

[2019-06-24 13:38] hajanajubudeen88 opened #833 "vertical fluid tabular menu is not working"
# Help Wanted

## Problem
i'm trying to use vertical fluid tabular menu
- in that i have four menu like ( bio, pics, companies, links )
- the active menu ( companies ) is activated by default
- when i try to change the menu like ( bio [or] pics [or] links  ) its not changed
- and its having only one content div
- i need separate content div for separate menu

https://jsfiddle.net/hajanajubudeen88/

[2019-06-24 19:03] jamessampford commented on #833
Fixed fiddle - https://jsfiddle.net/xjbmdkwf/

Examples within docs shows how it should be done correctly:
https://semantic-ui.com/modules/tab.html#/examples

[2019-06-25 07:31] hajanajubudeen88 commented on #833
Thanks @jamessampford  its working, and once again thanks for the reference link

[2019-06-25 07:31] #833 closed

[2019-06-25 12:41] ko2in opened #834 "[Form] Unexpected gap between the checkbox and other field"
# Bug Report
The checkbox set top margin inappropriately which causes unexpected gap between the checkbox and other form fields.

## Expected result
The checkbox shouldn't display too far from the other field.

![Checkboxes-2](https://user-images.githubusercontent.com/930315/60098044-b7627c80-977a-11e9-97e3-83bda4d043e8.png)

## Actual result
The checkbox displays too far from the other field abov

[2019-06-25 15:10] ko2in opened #835 "[Documentation] Typo error in calendar settings"
# Bug Report
There is typo error in calendar settings table, in the row of `disableMinute` setting. The description should be **Disable minute selection mode**, not **Fisable minute selection mode**.

URL: https://fomantic-ui.com/modules/calendar.html#/settings

[2019-06-25 18:15] lucasjmiles opened #836 "Slight margin-bottom drop on dropdown in responsive tables"
# Bug Report

[2019-06-25 18:19] lubber-de commented on #836
Please provide a jsfiddle with reproducable sample code and and a screenshot showing your found issue for a better understanding and easier investigation. Thank you 🙂

[2019-06-26 07:38] TryHardDood commented on #713
For those who don't want to wait until the implementation here's a codepen.

[Editor View - TryHardDood/pXrXJj](https://codepen.io/TryHardDood/pen/pXrXJj)
[Full View - TryHardDood/pXrXJj](https://codepen.io/TryHardDood/full/pXrXJj)

[2019-06-26 08:44] lubber-de commented on #835
Fixed by https://github.com/fomantic/Fomantic-UI-Docs/pull/138

[2019-06-26 13:29] exoego commented on #780
Why reopend??

[2019-06-26 13:33] samydoesit commented on #780
Hey it just looks like the error appears again is it possible you forgot it?

[2019-06-26 13:52] samydoesit commented on #780
Sorry for that, got it, someone committed an outdated version.

[2019-06-26 13:52] #780 closed

[2019-06-26 15:15] princeandrew01 opened #837 "Large dropdown alignment"
# Bug Report
I noticed this issue when i was using the login template. The template, had the form set to large and I noticed alignment for the dropdown icon and clearable icon is not vertically aligned.

## Steps to reproduce
1. Create any clearable dropdown and put it in a large form

## Expected result
1. Both icons should be aligned

## Actual result
1. Icons are not aligned correctly.

## Test

[2019-06-28 08:15] prudho commented on #837
Yes, it seems to happen on every size form's dropdowns but medium.

[2019-06-28 09:35] prudho commented on #837
Fixed by #838.

[2019-06-28 11:39] TivoSoho opened #839 "[Dropdown] Clearable remove icon visible by default"
## Steps to reproduce
1. Create clearable dropdown with placeholder anything but 'auto'

## Expected result
No selection = no remove icon

## Actual result
Shows remove icon even when nothing selected. Once you either click it or choose the empty option it goes away and does not reappear. It is not adding the noselection class to select on init.

## Testcase
https://jsfiddle.net/pn12f3Lr/2/

## Ve

[2019-06-28 13:53] kalenjio commented on #745
I'd love to help too

[2019-06-29 16:58] ziaratban opened #840 "[Table] tfoot not supported"
# Bug Report
hi
`tfoot` tag not supported in table.

http://jsfiddle.net/nt3460jL/

## Version
2.7.6

[2019-06-29 20:12] hammy2899 commented on #745
@kalenjio I have invited you to the repo.

[2019-06-29 22:20] louwers commented on #528
Seems to work out of the box.
1. meteor npm install --save fomantic-ui
2. save to `imports/semantic`
3. `npx gulp build`
4. use `import '/imports/semantic/dist/semantic.css'` and `import '/imports/semantic/dist/semantic.js'`

[2019-07-01 07:14] hammy2899 commented on #840
`tfoot` tag currently only supports `th` tags within rows, `td` needs to be added.

https://github.com/fomantic/Fomantic-UI/blob/1fd94d2479f297c906bed557f0567d1d3f0a4d2c/src/definitions/collections/table.less#L98

[2019-07-03 15:06] pbernery opened #841 "What are the purpose of the ".ui.ui" and ".ui.ui.ui" CSS selectors?"
## Question

I just saw the diff between 2.7.5 and 2.7.6 and discovered that the menu collection uses [`.ui.ui`](https://github.com/fomantic/Fomantic-UI/blob/master/src/definitions/collections/menu.less#L462) and [`.ui.ui.ui`](https://github.com/fomantic/Fomantic-UI/blob/master/src/definitions/collections/menu.less#L1456) prefix for CSS selectors.

I found this quite strange and wonder what it is

[2019-07-03 15:16] lubber-de commented on #841
This is used to increase controlled and reproducable specificity to avoid using `!important`

[2019-07-04 09:04] pbernery commented on #841
I see. Didn't know this CSS trick before.
Thanks for the feedback.

I'm quite astonished though there is this trick in the framework, whereas some other parts are using !important. Anyway, I would expect the framework to neither use `!important` or have this trick, seems like there is something wrong in the structure of the components, but I may not have understood everything about this subject.

[2019-07-04 09:18] lubber-de commented on #841
We actually already removed lots of `!important ` by v2.7.0 when we refactored the color generation of components.
All the remaining `!important ` you mentioned are leftovers from the original SUI where FUI is forked from.
I totally agree with you to remove as many, possibly all, of them, but we are doing this whenever we are working on a component or doing bugfixes, because whenever you remove on

[2019-07-04 09:24] pbernery commented on #841
I see.
So the right thing to do if proposing a PR is to use this trick and if possible remove `!important`.

Thanks for the feedbacks and the details :)

[2019-07-04 09:24] pbernery commented on #841
I close this issue now that it's clearer.

[2019-07-04 09:24] #841 closed

[2019-07-04 12:34] ko2in opened #842 "[Modal] Cannot disable vertical centering using setting API manually"
# Bug Report
The property `centered` of setting doesn't seem to be working as expected when trying to change the value.

## Steps to reproduce
1. Add modal HTML and initialize with `modal()`
2. Add a button and attach an event to the modal
3. Try to change the setting for the vertical alignment of modal using `modal('setting', 'centered', false)`
4. Click the button to open the modal

## Expected

[2019-07-04 14:32] mathijsco opened #843 "[Dropdown] Description misaligned in IE11 on large texts"
# Bug Report

The text of the dropdown will overlapse the description when the text is too long.

## Steps to reproduce
1. Create a dropdown with the classes `ui floating dropdown`.
2. Ensure the text of the item is around 90 characters.
3. Notice that the text and description overlapse in IE11

## Expected result

Text and description are aligned next to eachother in Internet Explorer 11.

## Act

[2019-07-05 12:21] brunotourinho opened #857 "Form - (keyboardShortcuts: disable) - Textarea - Prevent submit form on Return key"
Hey guys, I've read something about disabling form submit hitting Enter/Return key.
My problem is, in my form `<form>` I have a couple of textareas, when the user is typing some long text and hit enter, the form quietly (without validation, and no errors) submits once, then when click on submit button, it submits again.

This "bug" is causing duplicated entries in my backend.

I've tried setting:

[2019-07-05 12:27] prudho commented on #857
Please try `keyboardShortcuts: false` into your form settings.

[2019-07-05 12:40] brunotourinho commented on #857
I'll take a shot!
Can I make it global? with `$.fn.form.settings` or something?

[2019-07-07 04:19] fuyunliu opened #858 "How to add scroll event on modal?"
# scroll event on modal

Mac OS 10.14.5
Chrome 75.0.3770.100 (64bit)
Fomantic UI 2.7.6

## Problem
[code]

[2019-07-08 16:51] danthedeckie opened #859 "RTLCSS breaks flag elements"
# Bug Report

RTLCSS which creates the Right-To-Left language support versions (semantic.rtl.css) incorrectly converts `background-position: 0 ...` to `background-position: 100% ...`. Which breaks the flags.

This is expected behaviour in RTLCSS, see:

https://github.com/MohammadYounes/rtlcss/issues/109

And the correct solution is to tell RTLCSS to ignore that section.

## Steps to reproduce
1. I

[2019-07-08 21:22] lubber-de commented on #857
@brunotourinho Yes: use `$.fn.form.settings.keyboardShortcuts = false;` after import of `semantic.js` or `form.js` but before any instantiation of any form component.

[2019-07-08 22:27] lubber-de commented on #821
Closing, because it needs either changes in the SUI React Code or the above mentioned workaround is used.

[2019-07-08 22:27] #821 closed

[2019-07-08 22:28] lubber-de commented on #836
Closing until there is a reproducable testcase with more info  provided

[2019-07-08 22:28] #836 closed

[2019-07-08 22:33] lubber-de commented on #793
Closing because of no more response and a provided solution,

[2019-07-08 22:33] #793 closed

[2019-07-08 22:37] lubber-de commented on #857
@brunotourinho  Please tell us, if this is solving your issue. If not, please provide a jsfiddle for more investigation. Thank you 😉

[2019-07-08 22:53] lubber-de commented on #858
@fuyunliu It depends on the kind of scrollable modal:
- A normal modal gets scrollable via the `page dimmer`, thus you set your listener to the dom node `.page.dimmer`
- A modal having `scrolling content` gets scrollable via the `.content`, thus you set your listener to the dom node `.modal .content`

See difference here:
https://jsfiddle.net/f2mradto/1/

[2019-07-09 00:42] brunotourinho commented on #857
It worked like a charm!
Thank you guys! 😁

[2019-07-09 03:17] TivoSoho opened #861 "[Dropdown] Replacing dropdown breaks click event"
## Steps to reproduce
1. Have a dropdown
2. On change replace the dropdown and add new clickable elements

## Expected result
I can click the clickable elements, such as a button

## Actual result
Button is not clickable - it gets caught in event.preventDefault in dropdown code after eventInModule call.

## Testcase
https://jsfiddle.net/fpr4joez/4/

## Version
Latest

## Solutions
I have none to o

[2019-07-09 06:46] #857 closed

[2019-07-09 06:48] #858 closed

[2019-07-09 18:10] princeandrew01 commented on #861
Just some thoughts on the issue I noticed that the log has the error outlined below in the screenshot.

![image](https://user-images.githubusercontent.com/13138963/60911995-61013d80-a252-11e9-98ab-ee1615c29df2.png)

I realised something happened when you removed the dropdown from the dom when it did not finish animating. With that in mind I modified it and instead hid the dropdown until you replac

[2019-07-09 18:19] lubber-de commented on #596
Closing because of no more feedback assuming it's solved and works

[2019-07-09 18:19] #596 closed

[2019-07-09 19:32] TivoSoho commented on #861
With my code it is not possible to hide it - it replaces the entire contents. And honestly replacing parts of the DOM is normal. Pretty much everything loaded via AJAX replaces things in DOM. And cycling through all of the replacable content to make sure you close or destroy or do something else action so that everything else doesn't break doesn't sound right to me.

In my scenario, as you can gue

[2019-07-09 20:23] princeandrew01 commented on #861
Understood about the ajax part and I agree that its sometimes better to replace it instead of worrying about stuff. Its always a give and take when dealing with User interfaces.

However back to your original error it has nothing to do with the Dropdown object. What it has to do with is the screenshot i posted previously. The close animation is not completely done before you replace the content in

[2019-07-09 22:12] TivoSoho commented on #861
Exactly, it has nothing to do with it, but it does. On click it goes through dropdown functions. I am guessing because if you click elsewhere then it is tries to close any opened dropdowns, acting like a select box would. However when encountering that the dropdown is missing, it breaks - it doesn't allow it through, it calls event.preventDefault when it shouldn't.

[2019-07-10 12:45] bakeiro opened #865 "[forms inside an accordion] submit button doesn't show spinner loader"
### Incompatibilty of accordeons with form spinner loader
i.e. [Submit button on formular inside a accordion] Click Should Fire spinner loader

when I delete the class transition it show the animation correctly, but if not, the form disappear and appear again

### Steps
Create a form inside a accordion, and minimize and maximize the accordion

### Expected Result
See spinner loader animation

###

[2019-07-10 13:08] jamessampford commented on #865
You may want to try with the Fomantic UI release, as opposed to Semantic UI, which may have already addressed the issue

[2019-07-10 13:26] lubber-de commented on #865
Two workarounds (which also work with SUI 2.4)
- Use `animateChildren:false`
https://jsfiddle.net/c2fxdhe9
- Wrap your form in another `div` (so ithe form is not the direct childnode  of the accordion content anymore)
https://jsfiddle.net/c2fxdhe9/1/

[2019-07-10 15:10] princeandrew01 commented on #861
I looked through some more of the dropdown functions and there is a onHide (fires before the it is hidden).  It all comes down to the error the transition is firing and stopping the submit from going through. I tried suppressing it with the silent flag and it still threw the error.

My only recommendations would be:
1. A temporary solution to wait for the animation to finish before firing (there i

[2019-07-12 04:51] aldebaran798 opened #872 "Dropdown avatar with remote content"
Hello! it's possible that inside the expected server response, the dropdown module can receive inside the json a property for the avatar url?

For example:

[code]

Thanks for the great job.

[2019-07-12 07:04] hammy2899 commented on #872
This would produce a dropdown like this https://jsfiddle.net/26a0jqzd/

[2019-07-12 10:23] ziaratban opened #873 "[Kkitchen Sink] is not updated"
Kkitchen Sink is a good feature in designing for Designer. :)

But Not Update.

https://fomantic-ui.com/kitchen-sink.html

[2019-07-12 11:41] princeandrew01 opened #874 "Icons"
# Feature Request
The icons from Font Awesome are really great but one of the few things I don't get to use often is the ability to stack icons on top of one another. The reason I don't use it as often is the places where icons can be used it does not support the icons class and ends up being incorrectly styled.

## Description
My request would be allow the syntax `<i class="icons">*code*</i>` to

[2019-07-12 12:32] jamessampford commented on #874
You could always do what I did, and remove all the icons provided by this framework, but leave in some core icons (as used by the dropdown), and then use Font Awesome directly with their syntax, ie. `<i class="fas fa-square"></i>`? Then you could always follow Font Awesome's stacking code? https://fontawesome.com/how-to-use/on-the-web/styling/stacking-icons

[2019-07-12 20:42] lubber-de commented on #872
Implemented by #875
Play with it here https://jsfiddle.net/en6dwvqc/
I implemented a more generic approach (`image` instead of `avatar`) because there are more possibilities images may be used within a dropdown than avatars. See PR for explanation.

[2019-07-12 23:14] exoego opened #876 "[CI] Build on every PR"
...so that we can be confident that PR does not break build.

Especially, recent overwhelming dependencies update by dependabot could leat to break build.

[2019-07-14 07:30] prudho commented on #876
Travis is already building every PR during CI. It automatically detect a gulp file and run the `install` script, which in Fomantic case run a build of it.

[2019-07-15 18:01] lubber-de commented on #792
Is this still an issue or can we close this?

[2019-07-15 18:02] #663 closed

[2019-07-15 18:07] lubber-de commented on #362
Closing because of no response and missing Testcase. Happy to reopen if the asked details and a reproducable jsfiddle are provided

[2019-07-15 18:09] lubber-de commented on #524
Closing because of no response and missing Testcase. Happy to reopen if a reproducable jsfiddle is provided

[2019-07-15 18:09] #524 closed

[2019-07-16 10:23] aardbol commented on #362
Here's another image:
![Peek 2019-07-16 12-16](https://user-images.githubusercontent.com/14614620/61286687-a29a6700-a7c3-11e9-90ba-2a5152047eeb.gif)

Here's a Jsfiddle: https://jsfiddle.net/5kgh0Loc/
The loop prototype log also appears in the table.

[2019-07-16 11:21] joaquinglezsantos commented on #684
Because when you have "scrolling content" in modal, all content  inside with popups aligned on left or right is hidden, but when is popup bottom is shown.

[2019-07-16 14:28] lubber-de commented on #684
Implemented a new setting `forcePosition` by https://github.com/fomantic/Fomantic-UI/pull/880 which should do the job.
See https://jsfiddle.net/0cxn2gy3/

[2019-07-16 14:47] layershifter opened #881 "[Input] type="color" is not supported"
# Bug Report

`type="color"` is not supported properly.

## Steps to reproduce
1. Create an `Input` with `type="color"`:

[code]

## Expected result
![image](https://user-images.githubusercontent.com/14183168/61304344-4c401f00-a7e9-11e9-9b37-3106a1548112.png)

## Actual result
![image](https://user-images.githubusercontent.com/14183168/61304315-434f4d80-a7e9-11e9-83c3-6fa2654c2898.png)

## Testcas

[2019-07-16 16:02] lubber-de commented on #881
Trying to work out a simple CSS solution which fits into FUI style (and existing elements like `form`) (HTML5 offers many more additional input types which are not really crossbrowser stylefriendly)
A general colorpicker is already in the works by #137, so in the meantime this should quickly fix it

[code]
https://jsfiddle.net/dgvq60ys/

[2019-07-17 09:04] exoego commented on #684
FUI team do not close the addressed issues until released.

[2019-07-17 09:31] wdmeeste1 commented on #319
Awesome to see this switch will happen. Any idea when the first test version would be released? Timeline?

[2019-07-17 09:51] hammy2899 commented on #319
@wdmeeste1 I have mentioned this in a few places now but lets make it official.

Official development on v3 has not started yet we are still doing early prototypes and figuring out any road blocks we need to overcome. I have a document with ~5 major road blocks we need to figure out before we can start the actual development process.

Now that being said once we do start the development process th

[2019-07-17 10:15] Aniel commented on #319
@hammy2899 regarding the implementation for 4 frameworks. Is there any news, regarding the proposal from @levithomason on working with the folks from [stardust-ui](https://github.com/stardust-ui)?

See https://github.com/fomantic/Fomantic-UI/issues/319#issuecomment-457000595 and https://github.com/fomantic/Fomantic-UI/issues/319#issuecomment-457022665

[2019-07-17 10:37] hammy2899 commented on #319
@Aniel Not much has happened after our call with the Stardust team but that is down to a few reasons mainly being they are quite far into their development and since we are still in the prototyping/planing phase we don't know what we want exactly (if you understand what I mean) and I think we jump too soon and after a lot of messing around stardust might not be the right move for us going forward.

[2019-07-17 12:59] brunotourinho opened #882 "Form submit firing twice"
Hey guys!

I'm having a problem, but it's not quite consistent.

Whenever I click on a submit button inside a form:
`<form asp-action="Login" asp-controller="Login" method="post" class="ui large form" asp-antiforgery="true">`...

`<input type="submit" value="Enter" class="ui fluid large submit button" />`

Sometimes it fires the form once as expected but sometimes it fires twice.

I'm in a Asp.NET

[2019-07-17 13:08] lubber-de commented on #882
Enable debugging and watch console to perhaps get some hint, if it's really FUI doing something wrong.

[code]
if you however do _not_ use FUI form behavior (but just the CSS classes), then it seems to be caused by some other JS from your code (or ASP.net generated form widgets?).

So please provide a reproducable jsfiddle-testcase (don't need ASP.net for that, the generated form should do it alon

[2019-07-17 13:56] jamessampford commented on #882
Could it be that disabling the submit button after it being clicked (or the form submitting) help prevent this? Would need to use some javascript, but certainly helped me with something similar (albeit I didn't use FUI to handle any form submissions)

[2019-07-17 15:04] brunotourinho commented on #882
I cant find a reason...

First, when I hit Enter, it sends the form anyway, even with :
`$.fn.form.settings.keyboardShortcuts = false;`

When I hit Enter:
[Debug 1](https://imgur.com/uNDJT6f)

When I click on Submit
[Debug 2](https://imgur.com/eATZExV)

Another example in this [fiddle here](https://jsfiddle.net/ohkdw72b/3/)

[2019-07-17 15:29] layershifter opened #883 "[Table] definition and color can't be combined"
# Bug Report

## Steps to reproduce
1. Create a `definition` `<table />`
2. Add `color` like `red`

## Expected result
No red border

## Actual result
Weird red border on top of the first row.

![image](https://user-images.githubusercontent.com/14183168/61388131-b58e6380-a8b7-11e9-801d-8d8b695ff121.png)

## Testcase
https://jsfiddle.net/3c4x7a2u/

## Version
2.7.6

[2019-07-17 17:45] brunotourinho commented on #882
The behavior doesn't occur in Firefox... on Google Chrome only... 🤷‍♀️
Seems something related to the submit process...

Other weird aspect is that "keyboardShortcuts = false" should prevent from posting with "Enter" key, isn't working as well.

[2019-07-17 18:19] brunotourinho commented on #882
Came up with a workaround:

Removed the submit button
`<input type="submit" style="display: none;" />`

Created a simple button with onclick method
`<input type="button" class="ui tiny button" value="Salvar" onclick="submitOnce()" />`

Validate and submit form:
`function submitOnce() {`
``
`            $('.ui.form').form('validate form');`
`           if ($('.ui.form').form('is valid')) {`
`

[2019-07-18 06:08] wdmeeste1 commented on #319
@hammy2899  Thxs for information ;) No pressure, just curious :)

[2019-07-18 10:14] lubber-de commented on #882
@brunotourinho I am unfortunately not able to reproduce the mentioned behavior using your jsfiddle. Not even in Chrome 😕

See the following gif: using https://jsfiddle.net/jokpw9g7/
- First, i submitted by Enter -> the simple "onsubmit" handler is called only once
- Second, i submitted via submit button -> also only called once
![882](https://user-images.githubusercontent.com/18379884/61449535-71e

[2019-07-18 10:34] lubber-de commented on #882
@brunotourinho Regarding the "keyboardShortcuts:false should prevent Enter-key submit":
This seems to be a default behavior (tried in chrome/edge) in current browsers, because actually the code which is monitoring keyboard entries is indeed not initialized by FUI when `keyboardShortcuts:false`, thus also it is also not checking if the enter key is pressed to _prevent_ submitting the form.
I sugges

[2019-07-18 12:40] brunotourinho commented on #882
Thank you so much @lubber-de for your time.

I'm gonna check for JS leaks in my code. I use some injected partial views, maybe I'll find the reason.

BEST FRAMEWORK EVER

[2019-07-18 12:50] #882 closed

[2019-07-18 17:30] lubber-de commented on #883
Fixed by https://github.com/fomantic/Fomantic-UI/pull/884
See your adjusted jsfiddle here https://jsfiddle.net/9dx7mf2j/

[2019-07-19 06:29] xReaven commented on #883
Awesome.

Thanks you guys.

[2019-07-19 07:12] lubber-de commented on #883
Here is the jsfiddle including the firefox fix, i was missing:
https://jsfiddle.net/wz8er4tj/

[2019-07-19 22:23] lubber-de commented on #666
Fixed by https://github.com/fomantic/Fomantic-UI/pull/886
See your adjusted jsfiddle here: https://jsfiddle.net/vkjzudc6/

[2019-07-20 15:50] mrcasablr opened #887 "Upgrade Font Awesome to 5.9.0"
Font Awesome 5.9.0 - https://fontawesome.com/changelog/latest has new icons

[2019-07-22 17:58] lubber-de commented on #839
@TivoSoho I nearly spent the whole weekend for this 👀 . The conclusion is, that the current behavior is *correct*. Let me explain:

- By design a `<select>` tag (standard HTML) always has one value selected (either the first one or the one defined by attribute `selected`). To somehow avoid this, one (usually the first) option has to be an empty option (value="") (like you did in the jsfiddle).But

[2019-07-22 18:47] TivoSoho commented on #839
I disagree. For us clearable icon is an extra to quick clear - we do not want to replace choosing empty. Having 2 methods to clear a value is not illogical by any means. For us clearable broke when moving from Semantic UI to Fomantic. This is a sample with Semantic UI working beautifully in all cases: https://jsfiddle.net/vL8da4y2/

And finally, to quote your own text - "By design a <select> tag (

[2019-07-22 19:00] TivoSoho commented on #839
And to add one point that is important to me and our site - if you were to remove Fomantic UI (and it's weird definition of clearable) you are losing/breaking functionality. You would have to go through each select to make sure it has the empty option.

[2019-07-22 19:04] lubber-de commented on #839
Thanks for the jsfiddle...i am digging into the SUI code again. It is correct, FUI currently fails to identify because of the "" value in both cases.... i'll investigate again..if SUI can do it, FUI will do it as well 😄

[2019-07-22 20:09] vincenccee opened #888 "[Dropdown] Unable to customize the addition item"
# Help Wanted
I need some help to customize the `addition` item on the selection dropdown with the settings:
[code]
## Problem
The problem here is where and when the option will be displayed. I want to always display the `addition` option (even when the user didn't type anything in the search) and want the `addition` option to always be the last option on the list.

By now I was able to customize

[2019-07-22 21:16] #888 closed

[2019-07-22 21:26] lubber-de commented on #839
Fixed by #889
See your adjusted jsfiddle here https://jsfiddle.net/tpLsywch/

@TivoSoho Please accept my apologize for arguing into the wrong direction! The behavior is now identical to SUI again 😃

[2019-07-22 23:07] lubber-de commented on #861
The `preventDefault` was introduced in #188 to swallow the toggle event.
We'll investigate.

[2019-07-23 07:30] filozof595 opened #890 "Table column width"
# Table column width inside tab

## Problem
I have a tabular menu and in each tab a table. I have set the class for width as described in docs inside the `<th>` tag.

[code]
[code]
On page load whatever tab i set to active (with the class `active` inside the `<div>` tag) the table is rendered correctly (one, two, two, two, nine widths) all other tabs are rendered as an equal width table.

What I'm

[2019-07-23 08:24] lubber-de commented on #861
Fixed by #891
See your adjusted jsfiddle here https://jsfiddle.net/m51q6oje/

[2019-07-23 09:10] lubber-de commented on #890
I am not sure if i understood your question/issue correctly but making use of your fiddle you can adjust the column widths, so left row for example becomes `five wide column` and the second becomes `eleven wide column` Tables do not overlay the left menu (unless you reduce the width even more)...
https://jsfiddle.net/81rkazL5/

[2019-07-23 09:16] maidzen commented on #890
@lubber-de in his JSfiddle the column width in none-active Tabs is equal instead of based on the width class given

[2019-07-23 09:17] lubber-de commented on #890
Ah ❗️ , now i see 😄

[2019-07-23 10:37] filozof595 commented on #890
I don have problems with the left menu. They overlay only in JSFiddle. The problem is inside tabs and with the table.
If you click on the Tab1 you will see the table is rendered with colum width one, two, two, two, nine, but when you click on the Tab2 the table colums are rendered as equal width.

Im talking with ColinFrick on Discord and this is his reply:

Does anyone know if i can do anything t

[2019-07-23 10:55] lubber-de commented on #890
Initiate DataTables with the option
[code]
See https://jsfiddle.net/c0uykeq1/

[2019-07-23 10:57] lubber-de commented on #890
btw there is a bug in datatables when calculating: It basically calulates correct percentage values width but adds "px" (so "12.5px" instead of "12.5%", thus its broken)

[2019-07-23 11:20] filozof595 commented on #890
This solution worked for me.
Thanks!

[2019-07-23 11:20] #890 closed

[2019-07-23 12:07] lubber-de commented on #890
There is a PR for datatables to fix column width calculation correctly
https://github.com/DataTables/DataTables/pull/345#issuecomment-514181619

[2019-07-23 12:15] prudho commented on #874
Aside from an `header` component, which component is broken with `icons` ?

[2019-07-23 12:38] princeandrew01 commented on #874
I haven't tested all of them but these are a few that I came across (I suspect it maybe broken for all but I can't confirm that).

https://jsfiddle.net/princeandrew01/Lufkmaj3/21/

![image](https://user-images.githubusercontent.com/13138963/61712830-2fde3e00-ad25-11e9-978b-d343b6ab38a2.png)

[2019-07-23 16:37] lubber-de commented on #865
Fixed by https://github.com/fomantic/Fomantic-UI/pull/894
See your adjusted jsfiddle here https://jsfiddle.net/mL6po4dh/

[2019-07-23 16:50] lubber-de commented on #887
@hammy2899 When you do this, please consider, if the order of the icon css can be adjusted, to fix the following bug https://github.com/fomantic/Fomantic-UI/issues/739#issuecomment-492155926

[2019-07-23 19:50] vincenccee opened #896 "[Dropdown] Fixed option for search dropdown"
# Help Wanted
I need some help to create an option in the dropdown that (i) is fixed in the last position, (ii) is not filtered while searching and (iii) keeps the keyboard navigation to select. The following gif shows exactly the behavior that I’m looking for (it was implemented using select2 library):

![select_add_option](https://user-images.githubusercontent.com/8618475/61739431-c5e48980-ad62-

[2019-07-24 06:25] maidzen commented on #896
can you recreate your last example in jsfiddle?

Here is a fomantic sandbox to fork
https://jsfiddle.net/31d6y7mn

[2019-07-24 12:05] ventura-eesc opened #897 "[Search] numeric id not supported"
# Bug Report
[Search] $('.ui.search').search("get result",value). Numeric id not supported

## Steps to reproduce
1. Sue numeric id. Ex: ``  const contentOK = [
    { id:1,title: 'United Arab Emirates' }, ``
2. Does not return any value: $('.ui.search').search("get result",1);

## Expected result
This should return  { id:1,title: 'United Arab Emirates' }

## Actual result
false

## Testcase
Fork h

[2019-07-24 14:27] GammaGames commented on #319
What about porting grids over to the [css grid](https://css-tricks.com/snippets/css/complete-guide-grid/) layout? I've only just learned about it, but the layout seems flexible and like an improvement over flexbox. It even has decent [support](https://caniuse.com/#feat=css-grid).

It might require the user to set some `data-weight` attribute or something to make it more flexible than the current 1

[2019-07-24 14:47] hammy2899 commented on #319
@GammaGames I have mentioned CSS grid in a few places and I am considering it but there is more to look at then just browser support.

[2019-07-24 15:25] lubber-de commented on #792
@kimnakyeong
If your folder structure looks like this:
[code]
Then do _not_ use the parent folder ".." but

[code]
instead.

Using ".." would be correct if your folder structure looks like this

[code]

However, if you use the dist versions of Fomantic and already use a cdn for jquery you may use cdns for fomantic as well (then your folder structure does not matter)

[code]

[2019-07-24 16:12] lubber-de commented on #670
Fixed by https://github.com/fomantic/Fomantic-UI/pull/899
See your adjusted jsfiddle here https://jsfiddle.net/k8oqpjgx/

[2019-07-24 16:17] #365 closed

[2019-07-24 16:19] guushoekman commented on #670
That's great! Thank you for working on this.

One thing though: it's no longer possible to deselect an option. Removing `{useLabels: false}` makes deselecting work again, so (to my layman eyes) it seems to be caused by your changes.

[2019-07-24 16:22] lubber-de commented on #670
@guushoekman 😱 I'll work that out

[2019-07-24 16:23] vincenccee commented on #896
Here it is: https://jsfiddle.net/0mr69kfz/4/

If you have any more questions about the problem let me know!

[2019-07-24 19:10] FFDevelopment opened #900 "[container] right margin not visible"
# Bug Report
In case you use a fluid container and you want to have some margin, you will not have a right margin.

It's helpful to check the element with the development tools in your browser to see the missing right margin.
## Expected result
right margin

## Testcase
https://jsfiddle.net/4xob9vg7/

## Version
2.7.6

[2019-07-24 19:58] hammy2899 commented on #900
This isn't a bug, in fact the container does actually have a margin on the right but its being rendered off screen because the left margin is pushing the element to the right. You can see this more clearly here https://jsfiddle.net/oumq491r/

A simple way to solve this issue is by using padding instead of margin on your container e.g. https://jsfiddle.net/vs4xgmqh/

[2019-07-24 20:19] FFDevelopment commented on #900
I know but the question is, is it possible to change anything for the future? I think it's strange when you use "padding" for one part and "margin" for the other ones. ;)

[2019-07-24 20:24] hammy2899 commented on #900
If you want to use margin you could just calculate the width like this https://jsfiddle.net/saw4Lx51/ however a fluid container shouldn't really use margin since that's its purpose.

[2019-07-24 20:41] FFDevelopment commented on #900
If you say a fluid container shouldn't really use margin. Why won't be changed this filen then?
https://github.com/fomantic/Fomantic-UI/blob/7be57fcaaccf7b88f7e85e70ede8c3d5259eed61/src/definitions/elements/container.less

[2019-07-24 21:13] lubber-de commented on #670
@guushoekman Fixed that also, thanks for the quick response!
See new testcase here https://jsfiddle.net/k8oqpjgx/1/

[2019-07-25 09:06] maidzen commented on #896
i don't think fomantic Dropdown API can do this right now so i would handle it in a custom event

https://jsfiddle.net/ewhjpuLq/1/

[2019-07-25 10:03] DepaMarco opened #901 ""Today" in calendar popup shares className with range cells"
# Bug Report
Apparently "Today" button in calendar popup shares _className_ with range cells.

## Steps to reproduce
1. Select a date as "startDate" of the range, from the first input
2. Open calendar popup for the second input
3. Try to mouseover cells _BEFORE_ and _AFTER_ **today** cell, as you would select the "endDate" for the range

## Expected result
"Today" button should not change color, n

[2019-07-25 13:50] lubber-de commented on #792
Closing because answers are given so far and no more response from the author since 6 weeks.
Will reopen if this is still an issue and the author provides more info

[2019-07-25 13:50] #792 closed

[2019-07-25 14:31] lubber-de commented on #900
🤔 Both of you are right, i think:
- A fluid container is supposed to have a 100% width with no margin and this is also true for the docs site (https://fomantic-ui.com/elements/container.html#/definition scroll down to the very last example)...
- ... unless it's shown on mobile (<767px), then i think it can be considered a bug that there is a fixed margin set without the respect of a possible `flui

[2019-07-25 20:50] matheusrufca opened #904 "[Search] Styles not applied on results"
# Styles are not being applied on search results
On search component, the styles are not being applied on search results.
Also the spinner is not being activated during remote query.

## Steps to reproduce
1. Write something on input

## Expected result
Expected the search results with styles

## Actual result
Search results has no style

## Testcase
https://codepen.io/anon/pen/jgMrxB

## Screensh

[2019-07-25 20:56] matheusrufca commented on #904
[code]

[code]

[2019-07-25 22:07] jamessampford commented on #904
You’ve made a typo
`<div id="input-search" lass="ui search">`

Should be
` <div id="input-search" class="ui search">`

[2019-07-26 11:43] lubber-de commented on #904
Confirmed what  @jamessampford  said:
See https://codepen.io/anon/pen/EqgGvM

![image](https://user-images.githubusercontent.com/18379884/61949428-29f98e80-afab-11e9-8a36-a63677aa64f2.png)

Closing, because issue is solved

[2019-07-26 11:43] #904 closed

[2019-07-27 16:12] YamiOdymel commented on #319
@GammaGames I've tried to replace the Semantic Grid with CSS Grid, but it's not flexible as Semantic Grid.

For example you cannot use `reversed grid` or `left floated`, `right floated` columns since CSS Grid is kinda like a "Fixed Layout" which turns your `<div>`s into a grid system instead of flexible boxes/containers (_I don't know how to explain this feeling_).

I don't think it would work if

[2019-07-28 03:57] Bradley-H commented on #887
Perhaps I'm just a bit of a purist, but lets just make our own icons with .svg's. I'm sure it'll be a bunch of work, but I would (like anyways) to seperate us from the bunch and not have to rely on 3rd parties.

[2019-07-28 16:13] #819 closed

[2019-07-28 16:13] #818 closed

[2019-07-28 16:13] #830 closed

[2019-07-28 16:13] #837 closed

[2019-07-28 16:13] #859 closed

[2019-07-28 16:13] #670 closed

[2019-07-28 16:13] #872 closed

[2019-07-28 16:13] #876 closed

[2019-07-28 16:13] #666 closed

[2019-07-28 16:13] #684 closed

[2019-07-28 16:13] #883 closed

[2019-07-28 16:13] #897 closed

[2019-07-28 16:13] #839 closed

[2019-07-28 16:13] #861 closed

[2019-07-28 16:13] #865 closed

[2019-07-28 16:13] #900 closed

[2019-07-28 16:13] #887 closed

[2019-07-28 16:20] #835 closed

[2019-07-29 07:32] exoego commented on #739
Closing since it is released in 2.7.7 https://github.com/fomantic/Fomantic-UI/releases/tag/2.7.7

[2019-07-29 07:32] #739 closed

[2019-07-29 08:39] maidzen commented on #896
hello @vincenccee did my fiddle work out for you ? do you need any more help?

if not please close the issue :)

[2019-07-29 15:46] vincenccee commented on #896
yes, it is working! thanks for the help @maidzen 😄

[2019-07-30 00:47] matheusrufca commented on #904
Really sorry, totally didn't see that after several tries.

[2019-07-30 04:49] #896 closed

[2019-07-30 13:01] mikecsh opened #909 "[Search] Cached results do not trigger callbacks"
# Bug Report

If search is set to cache results, when a result is returned from the search cache onSearchQuery and onResults callbacks are not called.

## Steps to reproduce
1. Set up Search component and enable caching
2. Add logging statements in onSearchQuery and onResults callbacks
3. Enter search term, e.g. "Cancer"
4. Delete a character e.g. "Cance" - result is returned by cache
5. Add a cha

[2019-07-30 19:13] acidjunk commented on #596
Thanks for the info. But using it this way seems to be only possible for stuff that Semantic-UI itself uses. E.g. newer, Fomantic UI, only components are not supported by Semantic-UI-React. It feels a bit to "temporary" to use it for production React apps.

[2019-07-31 13:23] alexnicolaisen opened #910 "Content in segment is covered by label"
Hi,

I merged from Semantic to Fomantic today, and found a little issue:

When using top attached label on Segment, the first part of the content gets covered by the label.

Test case:
https://jsfiddle.net/fnmrx2tk/1/

I avoid this by bumping the content down, but that label should give room for it?

BTW: I'm really greatful for the work you are doing after Semantic stopped breathing! I just hate

[2019-07-31 13:42] hammy2899 commented on #910
If you wrap your content in a `<p>` tag its fine, the issue you mention is the same with SUI see https://jsfiddle.net/hjL4x1o0/

[2019-07-31 13:52] alexnicolaisen commented on #910
I didn't have the latest version of Semantic, but it was fine there :)

But anyhow, I'll use the <p> now!

Thanks 🥇

[2019-07-31 13:52] #910 closed

[2019-08-01 08:13] maidzen commented on #909
reproduced in jsfiddle
https://jsfiddle.net/sm2cgfkd/1/

[2019-08-01 08:34] maidzen commented on #909
i have to add, this is the correct behaviour based on documentation

Docs onResult: Callback on **server** response

maybe a onCachedResult callback is needed here or onResult needs to handle both with a parameter holding the source information (server, cache)

[2019-08-01 16:07] Shriken opened #911 "[Dropdown] Action buttons inside the menu"
# Feature Request

## Description
Semantic UI offers the functionality to clear or select multiple options with few jQuery lines. Here in Fomantic you ( Amazing! ) people added the close icon inside the input field, to clear single/multiple selection.
In my opinion, and I hope in yours as well, the actions should be visible inside the menu, while the user sees his options and is able to play with

[2019-08-01 20:19] maidzen commented on #911
Hi Shriken, this is already possible without css hacks by using stacked menu divs

example:
https://jsfiddle.net/427pkn3o/

[2019-08-02 07:16] Shriken commented on #911
This is great!
What about the JS? do you think it is a good idea to include the actions as settings? so it can be cleaner and easier to initialize + will work with 'select' tag?

[2019-08-02 08:01] maidzen commented on #911
i think the way you did it is the right way to handle selections and dropdown actions by using the behavior of Dropdown().

Of course a "set selected all" behavior could be usefull in this case but i personaly don't think this is worth the additional code in the component. At the end of the day FUI gets used by developers and all tools for this functionality are already given.

[2019-08-02 08:36] Shriken commented on #911
Makes perfect sense, thanks for your thoughts. it also helped me remove all my unneccasary css anyway :]

[2019-08-02 12:40] brunotourinho commented on #829
found this error today, while trying to apply jquery.inputmask to a field.

[2019-08-02 16:30] KennyZJ commented on #165
Agree, 'sliently' make dropdown selection without triggering 'onChange' event totally makes sense, especially when work with some other two-way bind frontend framework like angular.

[2019-08-04 14:18] NyxCode opened #913 "Make the step of 'labeled slider' configurable"
# Feature Request

## Description
Currently, a 'labeled' slider is labeled at every possible value. With large sliders, especially on mobile devices, the labeling is confusing.
It even get's worse with floating-point steps - then, the labeling is unreadable, even on large screens.
This could be solved by allowing the step of the labeling to be configurable so that not every value is labeled, but m

[2019-08-05 07:50] hakeem86 opened #914 "Make first tab active if not specified"
# Feature Request

## Description
How about making the first tab active when not active tag added to the html code?

I the below example no active tag is added, the content of the first tab is first shown when you click on it.

## Testcase (when possible)
https://jsfiddle.net/t6we9gv8/

## Screenshot (when possible)
![]()

[2019-08-05 08:12] hakeem86 opened #915 "tabular menu not updated"
## Steps to reproduce
1. click change to second

## Expected result

tabular menu and segment is changed to second tab

## Actual result

Only the segment is changed to second tab, the tabular menu is not updated (First is still active)

## Testcase
https://jsfiddle.net/t6we9gv8/2/

## Screenshot (when possible)
![]()

## Version
2.7.7

[2019-08-05 08:27] maidzen commented on #915
This is explicit for menuless tabs see Documentation

![image](https://user-images.githubusercontent.com/17901424/62449945-9b83ca80-b76b-11e9-94f6-92f4988c8f77.png)

[2019-08-05 09:38] TivoSoho commented on #839
@lubber-de You're my superhero now for fixing this! Many thanks!!

[2019-08-05 09:52] TivoSoho opened #916 "UI selectors matching when component not installed"
I am not sure if this is exactly a bug, but would like to document this none the less. Especially as this only came up after the latest 2 releases.

## Steps to reproduce
1. Install fomantic ui without calendar
2. Use class "ui calendar" class for your custom calendar
3. Submit a form

## Expected result
Form is submitted without JS errors

## Actual result
JS errors will be present

## Error mess

[2019-08-05 10:23] #911 closed

[2019-08-05 10:51] ko2in opened #917 "[Form] Form cannot submit if a form contains select dropdown with required attribute and leaves empty"
# Bug Report
The form failed to submit when it contains the HTML select element with the "required" attribute which uses Fomantic dropdown and the select left empty.

## Steps to reproduce
1. Create a form including the select element with the attribute "required"
2. Add the options for the select element. Include also for the empty option.
3. Invoke the dropdown plugin to the select element.
4. S

[2019-08-05 11:33] lubber-de commented on #916
Could you please provide a jsfiddle to reproduce? Because the mentioed call to `.calendar` should only happen when the validator finds at least one formfield with class `.ui.calendar`.
So it seems, although you use FUI without calendar, you probably still have a form field which is/was supposed to be a calendar field having the `ui calendar` class set. Then the form validator assumes the calendar

[2019-08-05 11:34] lubber-de commented on #916
uhm...just saw you already wrote you have that... 🙄 ,then we might just check for exising calendar module...i'll tag this as enhancement

[2019-08-05 12:00] lubber-de commented on #916
@TivoSoho
Should be fixed by #918
Please try to override the form functionality by temporary include
https://cdn.jsdelivr.net/gh/fomantic/fomantic-ui@89a3aa95c24e74afd891754d069f1de0e052adce/src/definitions/behaviors/form.js

after your compiled semantic.js (or as a replacement for the existing form.js)

[2019-08-05 13:05] jprateragg opened #919 "Issue when adding item to existing dropdown and using $('#dropdown').dropdown('set selected', 'xx')"
I recently ran into an issue with Fomantic-UI in which I'm adding an entry to an already created dropdown (using an HTML `select`), then making it the selected entry. I finally found a workaround on the Semantic-UI issues: https://github.com/Semantic-Org/Semantic-UI/issues/5516#issuecomment-502929515

The workaround does work, but it would be nice to not have to use a timeout whenever I dynamicall

[2019-08-05 15:43] lubber-de commented on #917
I fixed this basically by #920 , but i am unsure if we should really do this:

- Using `required` in a select-tag when using FUI could be considered unusual/unsupported logic, because FUI has its form validation instead
- As it probably breaks code, it has to wait until 2.8.0: Some people probably have used this already and , to be honest, it does what it should: it prevents the form submission if

[2019-08-05 21:25] Merlin04 opened #921 "[Menu] When in an accordion, stackable menu doesn't stack as it should with certain screen widths"
# Bug Report

## Steps to reproduce
1. Put a stackable menu with a lot of items inside an accordion
2. Open the accordion
3. Try resizing the window

## Expected result
The menu should stack

## Actual result
It doesn't in some screen widths, it overflows off the screen

## Testcase

https://jsfiddle.net/deuc3fj8/

## Screenshot (when possible)
See https://github.com/Merlin04/webweb/issues/11

##

[2019-08-06 05:46] certainlysylvia commented on #319
I've been working on a massive project for a few years now with semantic being deeply integrated. We're a small dev group so could not possibly solve the finance issues - so here we are now.

atm we're deep in back end stuff - so we cannot directly contribute here, yet but in time we aim to dive in. I personally love the direction fomantic is taking, with a few reservations.

So here are our thoug

[2019-08-06 07:23] maidzen commented on #921
![resize_bug](https://user-images.githubusercontent.com/17901424/62519447-d8af9180-b82b-11e9-814f-25c8ac6f17ef.gif)

this shows the bug

[2019-08-06 07:42] maidzen commented on #919
i tried to reproduce it but it works for me in Chrome/Firefox and Edge ...

https://jsfiddle.net/xzq9pojm/3/

[2019-08-06 09:03] lubber-de commented on #921
That's a general issue and not related to accordion.
Currently stackable menu items only stack on mobile device with a maximum width of 767px. So its still stacking even in an accordion, but your many menu items exceed even a tablet width

What you can only do at the moment is to adjust the `@largestMobileScreen` variable in `menu.less` to adjust it according to your needs (or use the override i p

[2019-08-06 10:09] LukBukkit opened #922 "Guide for using Fomantic-UI-LESS"
# Help Wanted

## Problem
Hey, it would be really nice, if there was a link to a guide for using the [less version](https://github.com/fomantic/Fomantic-UI-LESS) of this awesome fork in combination with a build tool like webpack.

You could link in the README for exmaple to this project: [Codenaut/webpack4-semantic-ui-theming](https://github.com/Codenaut/webpack4-semantic-ui-theming) or this Mediu

[2019-08-06 12:34] jprateragg commented on #919
https://jsfiddle.net/b53ju1L4/ I change this `$('.dropdown').dropdown('set selected', '2');` and when you try it again, option 2 isn't selected. Just option 1.

[2019-08-06 13:22] lubber-de commented on #919
I could reproduce in Firefox mobile.
The problem is: The mutationobserver, which recognizes your DOM changes (and has to rebuild the FUI dropdown HTML code) seems to be too slow there.
So, by the time you are calling `$('.dropdown').dropdown('set selected', '2');` the necessary changes for the dropdown DOM has not finished (or not even started) rebuilding the Dropdown HTML Code according to your n

[2019-08-06 14:34] hammy2899 commented on #922
Take a look at this medium article too which is dedicated to Fomantic-UI https://medium.com/@marekurbanowicz/how-to-customize-fomantic-ui-with-less-and-webpack-applicable-to-semantic-ui-too-fbf98a74506c

There is a section on the Getting Started page of the website with a link to that tutorial, we tend to not link to such things on the README.
![image](https://user-images.githubusercontent.com/115

[2019-08-06 14:35] #922 closed

[2019-08-06 16:29] LukBukkit commented on #922
Okay thanks for your explanation 👍

[2019-08-07 07:40] dutrieux opened #923 "[Form Validation] error class remove on fields when use "is valid" behavior"
# Bug Report

'error' class remove on fields when use "is valid" behavior

## Steps to reproduce
https://jsfiddle.net/02gfdbx9/
1. click on submit button (the error class is set on all fields with a error)
2. click on the button "$('.ui.form').form('is valid');" -> the error class is remove on all fields

## Expected result
the error class on field should not be remove when we use $('.ui.form').fo

[2019-08-07 12:28] brunotourinho commented on #923
Please try `$('.ui.form').form('validate form');`

[2019-08-07 12:37] dutrieux commented on #923
Thx @brunotourinho  but that's not what I want to do. I want to **check** (on my code) if there is a error on the form with $('.ui.form').form('is valid') and this behavior must not remove the error class on the field

[2019-08-07 12:55] brunotourinho commented on #923
Oh, I got it... I don't know why 'is valid' kinda resets the form... good question!

I use both funcions...

`function btnPostAnchor(sender, event) {`
`            event.preventDefault();`
`            var f = $('.ui.form').form('is valid')`
`            $('.ui.form').form("validate form");`
`            if (f === true) {`
`                var formData = $('form').serialize();`
`                po

[2019-08-07 13:23] lubber-de commented on #923
Use `determine isValid` instead, which does what you expect.

See https://jsfiddle.net/qxm3o4wb/

[2019-08-07 13:57] dutrieux commented on #923
Okay, so either. I doesn't know this behavior ! It doesn't seem to be documented or ...

[2019-08-07 14:01] dutrieux commented on #923
You don't think that behavior 'is valid' reset the form is not correct ?

[2019-08-07 14:05] lubber-de commented on #923
Yes, it unfortunately is.
I searched the source and found that while seeking for the reasons of your found behavior. 😉
We might add an option to the " is valid" behavior how to behave with the error class display. It's  currently hardcoded as it is and the "determine isValid" currently does it the other way around.
The quick solution is to use the undocumented (probably because of supposed interna

[2019-08-07 16:49] GammaGames opened #924 "[Dropdown] Inline clearable dropdown is not clearable"
# Bug Report

## Steps to reproduce
1. Create inline dropdown
2. Initialize dropdown with `clearable: true` option
3. Can't clear selection

## Expected result
Should have a little "x" icon to clear

## Actual result
Does not

## Testcase
https://jsfiddle.net/tfmbgz3e/
(Taken directly from the docs [here](https://fomantic-ui.com/modules/dropdown.html#clearable))

## Screenshot (when possible)
![im

[2019-08-08 03:07] ptejada commented on #319
For the multi package in monorepo idea i suggest looking into https://lerna.js.org/

For the static site genrator check out https://gohugo.io/

[2019-08-08 12:41] ricohumme opened #925 "Attached label in a segment does not pad content"
Hi,

I just updated from 2.7.5 to 2.7.7 and found that a segment containing a top attached label no longer pads the content in the next div within the segment.
To illustrate, see the attachment. Content is blurred for privacy reasons

This is the CSS part which is missing:
`.ui.top.attached.label+[class*="right floated"]+*, .ui.top.attached.label:first-child+:not(.attached){margin-top: 2rem!import

[2019-08-08 13:29] lubber-de commented on #925
Fixed by #926
See https://jsfiddle.net/hrL5706d/1/

Sorry for this ...

[2019-08-08 14:35] lubber-de commented on #919
As we cannot change the way MutationObserver is implemented in different browsers. If you still have to change the DOM nodes, you either have to use the settimeout or the `change values` behavior solution. I dont't think we can handle that otherwise within the framework.
If anyone comes up with another solution, we can reopen this

[2019-08-08 14:35] #919 closed

[2019-08-08 14:50] ricohumme commented on #925
Thnx for the quick response !

[2019-08-10 15:33] ziaratban opened #927 "[Dropdown] 'values' and 'get value'"
hi
when i use `dropdown` with `values` option, `get values` method of `form` return `null` for `dropdown`!

see : http://jsfiddle.net/2m6b53dk/

fomantic-ui : 2.7.7

[2019-08-10 17:29] SrPatinhas opened #928 "Card with overlay information"
# Feature Request
It would be great to have a little more options for card styles like text hover image with gradient or full image with text hover

## Description
The codepen is self explanatory

## Testcase (when possible)

[Codepen UI Ideia](https://codepen.io/SrPatinhas/pen/LMvXwW)

## Screenshot (when possible)
![image](https://screenshot.codepen.io/309089.LMvXwW.16a17596-2e17-497b-9c3e-46c07

[2019-08-11 01:57] ziaratban commented on #927
seems problem exists in `values` options in `dropdown`.

see : http://jsfiddle.net/bh162r9p/

[2019-08-11 03:41] ziaratban opened #929 "[Dropdown] clone and 'values' option"
hi
when you clone a dropdown element , `selected` param not working in `values` option.

[code]

see : http://jsfiddle.net/07qncf8p/

## Version
2.7.7

[2019-08-11 15:01] mightyvoodoo opened #930 "[Form Validation] onDirty event unpredictable behavior"
When we have a multiple select field inside form (with dropdown module or not) onDirty event behavior would be unpredictable.

https://jsfiddle.net/vtbyr8o1
Try to focus textarea first, then re-run and try to select/unselect options.

Thanks!

[2019-08-11 22:40] tiaagosr opened #931 "[Dropdown] ignoreCase breaks multiselect with search"
# Bug Report

## Steps to reproduce
1. Select one or more options from dropdown
2. With Dropdown focused press backspace OR click X on any selected option

## Expected result
Backspace with dropdown focused or clicking X on any option should remove it from current selection

## Actual result
No option gets removed from current selection

## Testcase
https://jsfiddle.net/r8enoqyg/

## Version
2.7.7

[2019-08-11 22:47] tiaagosr opened #932 "[Dropdown] ignoreCase does not change text search behavior"
# Bug Report

## Steps to reproduce
1. Focus Dropdown
2. Type alabama on search box

## Expected result
No option is to be suggested, since search is case-insensitive only with `ignoreCase: on` .

## Actual result
Search is case-insensitive even with `ignoreCase` defaulting to off, Alabama option is suggested.

## Testcase
https://jsfiddle.net/9nymb3g1/2/

## Version
2.7.7

[2019-08-12 07:43] goodwin74 commented on #319
Thank you very much for the development of the project! Hello from Russia!😉

We have already switched all projects to Fomantic-UI 👍

[2019-08-12 08:18] lubber-de commented on #932
The `ignoreCase` setting is currently not meant to support the search functionality and only affects the label creation. Thats why it is ignored.
I therefore tag this as enhancement, because it makes sense though 😉

Btw: The correct options for `ignoreCase` are boolean `true/false`, not `on/off`

[2019-08-12 08:48] lubber-de commented on #929
You missed to add the needed default text tag

See your adjusted jsfiddle here: http://jsfiddle.net/cz2t8b93/

[2019-08-12 15:43] lubber-de commented on #928
In the meantime you can either use a partial `dimmer` or a slight adjustment to move the card content over the card image itself.

See: https://jsfiddle.net/se8cu460/1/

![image](https://user-images.githubusercontent.com/18379884/62878084-ad93d900-bd28-11e9-9187-076c7f81e1cc.png)

[2019-08-12 15:59] lubber-de commented on #927
Confirmed. Only affected when using `select` tag dropdowns

[2019-08-12 18:01] ko2in commented on #917
My problem solved with `novalidate` attribute in form as mentioned in #920. Should I close this issue myself?

[2019-08-12 18:04] lubber-de commented on #917
No, let's wait for other contributors opinion of the related PR, please

[2019-08-12 18:04] ko2in commented on #842
Can someone confirm whether it's a bug or I'm using the API incorrectly?

[2019-08-12 18:10] lubber-de commented on #842
It might be considered a bug or just not supported as of now. The point is that, to fix this properly, many, if not all, settings also in all other modules have to be checked against a possible non functionality after initialization. After some investigation it is unfortunately a core issue, that not all settings work if they are being changed afterwards atm.
Fixing it only for your case is indeed

[2019-08-12 20:03] ko2in commented on #842
Thanks for the confirmation. I was trying to align dynamic Ajax modals in my app base on their respective size. Now, the only solution for me is changing the class name of the modal for particular alignment.

I hope that this issue will be considered along when rewriting JS modules in FUI version 3.

[2019-08-12 23:23] SrPatinhas commented on #928
In the same topic, isn't possible to add a loader to a card, any type of card, for example like in the image, of the box, just adding the class, should be possible to have the dimmer and loading
![image](https://user-images.githubusercontent.com/6379218/62905003-7a6d3c00-bd60-11e9-90ff-95a8d0b430f2.png)

[2019-08-13 06:37] filozof595 opened #934 "[Modal] When using coupled modal the first one is jumping up before the second is shown"
# When using coupled modal the first one is jumping up before the second is shown

## Steps to reproduce
1. You need two coupled modals
2. The second modal needs to be larger than the screen height
3. When you call the second modal the first one will jump up before hiding

## Expected result
The first modal should just disappear in middle of the screen and show the second modal.

## Actual result

[2019-08-13 11:53] #929 closed

[2019-08-13 13:18] lubber-de commented on #552
Behavior docs added by https://github.com/fomantic/Fomantic-UI-Docs/pull/156

[2019-08-13 21:41] vincenccee commented on #165
hey guys, any update on this?

[2019-08-14 00:02] aldebaran798 opened #935 "[Calendar] 'set date' behavior set previous day"
# Bug Report

## Steps to reproduce
1. Use 'set date' behavior with any date

## Expected result
Input text with asigned date value

## Actual result
Input text with previous day to asigned date value

## Testcase
https://jsfiddle.net/badwin/n0z7vbrf/3/

## Version
2.7.7

[2019-08-14 00:51] aldebaran798 commented on #935
Is related with ISO string formatting?
https://github.com/mdehoog/Semantic-UI-Calendar/issues/87

I'm updating from semantic ui and sending a text string works.

[2019-08-14 06:18] prudho commented on #165
Sadly no 🙁

Managing to fix this bug without breaking anything is far more complicated than I previously though...

[2019-08-14 07:29] Ikaer opened #936 "[Menu][Grouped icons] grouped icons in submenu not behave like simple icon"
# Bug Report

## Steps to reproduce
1. https://jsfiddle.net/b5og0sxL/
2. Grouped icons in first menu are ok.
3. Grouped icons in sub menu "Actions" do not behave like simple icon

## Expected result
- Position should be left.
- Corner icons should be respected

## Actual result
- Position is right instead of left.
- Corner icon rules are not respected.

## Testcase
https://jsfiddle.net/b5og0sxL/

[2019-08-14 07:42] Ikaer commented on #936
I've temporarly fix it with following css rules:
https://jsfiddle.net/b5og0sxL/1/

[2019-08-14 11:01] lubber-de commented on #935
I unfortunately cannot reproduce. The jsfiddle correcly displays the date, wou are providing.
![image](https://user-images.githubusercontent.com/18379884/63016036-e0f27700-be92-11e9-9045-1b5d5b92d894.png)
Beyond the code the calendar tries to parse the given date string via `new Date('2019-08-13')`, which works correctly for me.
I guess it's because of the timezone where you are living/working.
Pl

[2019-08-14 14:22] aldebaran798 commented on #935
My time zone is UTC-5

When i try with the jsfiddle that i share this is the result

![2](https://user-images.githubusercontent.com/19268443/63028495-8f3af400-be74-11e9-8ddc-f1847a20611f.png)

The result with the jsfiddle that you share this is the result

![2previewFomantic](https://user-images.githubusercontent.com/19268443/63028617-c6110a00-be74-11e9-8479-7f3cb9fad011.png)

[2019-08-14 15:07] lubber-de commented on #935
😲 Very strange. Which browser/version/os are you using?
The date calculation is done by your local javascript 'new Date()' (equivalent to `Date.parse()`) and until ES5 implemented differently in different browsers it seems.
Again, i still cannot reproduce, it all works in my local browsers (IE/Edge/FF/Chrome) and i am UTC+1

Please try any of these, (all of them still work correctly for me unfortu

[2019-08-14 15:10] lubber-de commented on #935
May help to understand the different results
https://stackoverflow.com/questions/2587345/why-does-date-parse-give-incorrect-results

[2019-08-14 17:17] mark-dykstra opened #937 "[Dropdown] Opening nested calendar steals focus from input field"
# Bug Report

Opening calendar inside a dropdown menu steals focus from input field

## Steps to reproduce
1. Open attached fiddle(s)
2. Click dropdown
3. Click either input field

## Expected result
Calendar opens, but input field still has focus so the user can type a date instead

## Actual result
Calendar opens still, but input field is blurred.  Difficult / impossible to type dates in

## Tes

[2019-08-14 18:19] aldebaran798 commented on #935
I'm using Chrome V. 76.0.3809.100 and Firefox V. 68.0.2

All the alternatives works fine, only YYYY-MM-DD dates are failing for me

[2019-08-14 19:07] lubber-de commented on #935
Alright, will close this issue then.

[2019-08-14 19:08] #935 closed

[2019-08-18 03:33] Mccreew opened #938 "how to get started with vue cli?"
# Help Wanted

## Problem
Describe your problem in great detail
I usually use vue cli to build my project, and i want to use fomantic-ui with my project,but how to get started?

[2019-08-18 03:38] exoego commented on #938
Currently Fomantic UI does not officially support/integrate Vue nor vue-cli.
You may ask and get help in our Discord chat https://discord.gg/YChxjJ3 or StackOverflow.

[2019-08-18 03:38] #938 closed

[2019-08-20 06:02] paulvales opened #940 "Disable autocomplete for specific inputs"
Hi! maybe disable autocomplete for calendar or add option for all inputs http://joxi.ru/zANeR3gtv9b8L2

[2019-08-20 06:10] lubber-de commented on #940
This is a browser related feature.
As `input` is not a module you can try adding
`autocomplete="off" ` to either its Form or element directly. Same for Calenda(or dropdown or search) , just modify the embedded input field accordingly

But beware, it does not work on all input fields.
See https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion

[2019-08-20 07:48] hammy2899 commented on #319
@certainlysylvia We currently just use GitHub and Discord for planning and communication, we don't need nor do we want more places for such activities because it will add complexity for new contributors and its more things to manage. Also we try to keep everything in the open and not keep plans etc. hidden from our users which is why we use GitHub for our planning.

However thanks for the offer 👍

[2019-08-21 00:45] davidroeca opened #942 "[Table] Unable to build table in the latest versions"
# Bug Report

Fomantic ui is unable to build from a fresh npm install

## Steps to reproduce
1. `npm init` a new directory
2. `npm i -D gulp fomantic-ui`
3. Follow all of the installation defaults
4. `npx gulp build --gulpfile semantic/gulpfile.js --cwd semantic/`

## Expected result

Successful build

## Actual result

A build that succeeds until it tries to build the table css:

[code]

## Versi

[2019-08-21 01:45] davidroeca commented on #942
This issue is resolved if i `npm install -D gulp-less@3`. Not sure if this is ideal, but worth noting.

[2019-08-21 03:43] davidroeca commented on #942
Looks like it's precisely what's happening here https://github.com/fomantic/Fomantic-UI/pull/939

[2019-08-21 11:03] #940 closed

[2019-08-21 12:35] exoego opened #944 "CI wrongly pass even if LESS compilation failure"
# Bug Report

https://travis-ci.org/fomantic/Fomantic-UI/builds/574770400#L497

## Expected result

CI should abort

## Actual result

CI pass so broken PR may get be merged.

[2019-08-21 13:08] exoego commented on #942
It seems that upstream issue in `less.js`.
Ref: https://github.com/less/less.js/issues/3423

[2019-08-21 13:16] prudho commented on #944
Build process is complicated, do the error seem to be drowned between other gulp streams. Maybe we can try some stream combining [like this](https://github.com/gulpjs/gulp/blob/master/docs/recipes/combining-streams-to-handle-errors.md).

@ColinFrick @hammy2899 what do you think about it ?

[2019-08-23 09:15] lubber-de commented on #942
Fixed by less 3.10.3 in #950

[2019-08-23 11:52] sohaibalam67 opened #951 "[Dropdown] should have onBeforeAdd() callback"
# Feature Request

## Description
onAdd() is called for multiple select dropdown which only receives the added value. There is no way to modify the value itself before it is added.

## Use Case
I'm making a custom multiple select dropdown component for tags. Tags could be selected from the dropdown and can also be typed into the dropdown component. So the component is supposed convert the value to

[2019-08-23 15:25] migmolrod commented on #552
I found out that for a _range_slider_ it works like this:

[code]

where

[2019-08-23 16:48] brunotourinho opened #952 "v8n - Validation"
# v8n - Validation Integration

Hey, wonderful people, working hard to make us happy developers! 😄

Today I found this library [v8n](https://github.com/imbrn/v8n)

It seems very nice, I was thinking if we can somehow integrate it with FUI. 🤔

Waiting for the experts analysis!

Thank you guys!

[2019-08-23 22:56] davidroeca commented on #942
This issue is fixed in fresh installs, so I'll to go ahead and close it

[2019-08-23 22:56] #942 closed

[2019-08-24 21:44] tomByrer commented on #319
I personally find monorepos in general hostile to newbie contributors; all those folders are a maze.  Fine if you expect only a core team to contribute.

I've used Hugo, but I'm more enamored by GatsbyJS.  Good speed to develop with, website output is fast, VERY good ecosystem (plugins, themes, etc).  Built around ReactJS & GraphQL, but has plugns to use markdown & other data sources as input.  De

[2019-08-24 22:23] hammy2899 commented on #319
@tomByrer GatsbyJS is also something I'm looking at and I have also messed around with it and it seems a good candidate.

About the monorepo, I don't think it will be as confusing like other projects and it will hopefully be quite straight forward for any new contributors. My current prototype which is likely the future base of v3 does not have a maze of directories and is quite simple to find you

[2019-08-25 09:32] ryamaguchi0220 opened #953 "[Progress] Multiple progress shows an error although valid total/value have been set"
# Bug Report

## Steps to reproduce
1. Set `total: 6`, `value: [1, 4, 1, 0]` and `precision: 0.1` in multiple progress
2. Invoke `progress()` twice

## Expected result
No console error is shown.
## Actual result
A console error is shown.
## Testcase
https://jsfiddle.net/qtnux0s6/

## Screenshot (when possible)
<img width="475" alt="スクリーンショット 2019-08-25 18 12 10" src="https://user-images.githubuser

[2019-08-25 16:09] lubber-de commented on #458
Fixed in 2.7.7 by #838

[2019-08-25 16:09] #458 closed

[2019-08-25 21:56] lubber-de commented on #937
Fixed by #955
See your adjusted jsfiddle here: https://jsfiddle.net/g19fdp7s/1/

[2019-08-26 09:40] fridzema opened #956 "[Dropdown] Category display"
# Feature Request

## Description
Would be very nice if dropdown supports categories like the search component.
Like this: http://jsfiddle.net/aLoanbwb/3/
This example works with optgroups in html.
I want to use this with dropdown (with the api module).

[2019-08-26 19:41] lubber-de commented on #956
Implemented by #957
See http://jsfiddle.net/srcn0u6a/2/

[2019-08-27 13:32] prudho commented on #952
Well, it can be used with FUI trough validation's custom rules [(example)](https://jsfiddle.net/aknLx19t/2/).

[2019-08-27 17:21] #952 closed

[2019-08-27 17:36] hammy2899 commented on #921
@lubber-de I think adding the `tablet` & `mobile` stackable isn't a bad idea, we already have `tablet stackable` in the table component https://github.com/fomantic/Fomantic-UI/blob/44acd6436498e7caaa10a36119f9cc245cdcbd19/src/definitions/collections/table.less#L404

[2019-08-27 22:30] goodwin74 opened #976 "Is there support for masonry grid?"
Is there support for masonry grid in Fomantic-UI? If so, how to implement such a grid?
Thank you very much!

[2019-08-27 22:39] exoego commented on #976
By default build configuration, Fomantic-UI (and Semantic-UI) **reset** styles of almost all elements in https://github.com/fomantic/Fomantic-UI/tree/master/src/definitions/globals.
Therefore, it may have cosmetic issues with other UI components library, or not with any luck.

You may build FUI without **reset** style.
It is required to use FUI/SUI with other UI components library at your own risk

[2019-08-27 23:00] goodwin74 commented on #976
Did not understand you. I asked if there is support for Masonry grid in Fomantic-UI? I did not find anything in the documentation

[2019-08-27 23:06] goodwin74 commented on #976
those. is it possible to make such a grid in Fomantic-UI

[2019-08-27 23:09] exoego commented on #976
Ah, I thought you want use FUI with https://masonry.desandro.com/
Buti you want to create masonry grid with FUI?
IIUC, not possible right now.

[2019-08-27 23:23] goodwin74 commented on #976
Yes you are right! I wanted to make a grid using FUI. Is such an opportunity planned?
Or maybe there is a temporary solution to how to make such a grid without third-party libraries

[2019-08-27 23:42] exoego commented on #976
No, I do not think there is any plan for masonry grid, since this is a first request both in FUI/SUI to my knowledge.
Since FUI is community-maintained OSS, anyone can open a pull request to resolve issue, and maintainers including me are happly to review.

[2019-08-29 08:24] jsimomaa commented on #262
`display=swap` is also now the default what Google Fonts suggest as the URL to copy:

![image](https://user-images.githubusercontent.com/4503494/63923577-72dfaf80-ca4f-11e9-9611-ef926a6a77b5.png)

https://fonts.google.com/selection?selection.family=Lato

Would be really nice to see this included in Fomantic-UI (and Fomantics-UI-CSS)!

[2019-08-29 13:30] prudho commented on #913
That was a bit tricky, but now i think that [this PR](https://github.com/fomantic/Fomantic-UI/pull/978) might interest you 😃 !

[2019-08-30 07:59] callmeshilin opened #980 "[Form] make set values function support calendar component"
# Feature Request
make form component `set values` function support with `ui calendar` component.
## Description
if there is a calendar component in a form, current the form `set values` function does not support `ui calendar` component, help to fix. thanks.

## Example

## Testcase (when possible)

## Screenshot (when possible)
![]()

[2019-08-30 08:10] hammy2899 commented on #980
The logic used in this PR https://github.com/fomantic/Fomantic-UI/pull/918 can be reused for this

[2019-08-30 09:08] lubber-de commented on #980
Fixed by #981
See https://jsfiddle.net/dbLr687e/1/

[2019-08-30 14:08] GammaGames commented on #976
Someone did have a working demo in SUI 3 years ago: https://github.com/Semantic-Org/Semantic-UI/issues/3353#issuecomment-244058579

[2019-08-30 18:13] goodwin74 commented on #976
I saw this example.
This is not Masonry. In Masonry the horizontal order of elements. This example displays vertically elements - it is very inconvenient. Using css "column" is intended for text.

[2019-08-31 01:04] fullofcaffeine opened #983 "Is this compatible with semantic-react and SSR?"
Hi there!

Found this after seeing the semantic-ui repo has been stagnant for almost an year already. Looks promising!

I'm about to start a greenfield project that uses React and requires some SSR. I'm wondering if this can be a drop-in replacement for `semantic-ui` in `semantic-ui-react`, somehow? Or is there such a thing like `fomantic-ui-react`? Also, does it support SSR out-of-the-box?

Thank

[2019-08-31 01:06] exoego commented on #983
For now you could use Fomantic-UI together with Semantic UI react. Here is a guide
https://medium.com/@fomantic/setting-up-fomantic-ui-with-react-f701b68f736c

[2019-08-31 01:06] #983 closed

[2019-08-31 01:07] exoego commented on #983
I think SSR support  is semantic-ui-react's concern.
FUI do not consider SSR support right now.

[2019-08-31 01:16] fullofcaffeine commented on #983
Thanks!

On Fri, Aug 30, 2019 at 8:07 PM TATSUNO Yasuhiro <notifications@github.com>
wrote:

[2019-09-01 09:26] rogervanmars opened #985 "[Form Validation] Built-in rule to validate a field based on the value of another field"
# Feature Request
A built-in rule to validate a form field based on the value from another field of the same form.

## Description
Now it is possible to validate a form field based on the current value of another field by writing a custom rule. That would look like:
[code]
It would be nice to have a built-in rule, like the ones describe [here](https://fomantic-ui.com/behaviors/form.html#validation

[2019-09-01 17:06] OssiPesonen opened #986 "Calendar flips Date and Month around"
# Bug Report

For reasons unknown our web app, which is using Fomantic UI, keeps flipping the month and date around when the input value is set to format 'j.n.Y H:i' and calendar formatter to day.month..year.

**This only happens on Chromium browsers, Chrome, Opera...** Not certain if it is locale specific (I am using Finnish)

For clarification, I am using PHP date() function format. j = day, n =

[2019-09-01 17:28] esmondb opened #987 ".form('set values', recordObject) with a checkbox"
# Help Wanted

## Problem
I'm using a service which provides JSON data which represents boolean values as the numbers 0 and 1 instead of true and false. Is there a way to make .form('set values', recordObject) work with a checkbox with data coming in this format?

[2019-09-02 07:52] #262 closed

[2019-09-02 07:52] #913 closed

[2019-09-02 07:52] #925 closed

[2019-09-02 07:52] #953 closed

[2019-09-02 07:52] #956 closed

[2019-09-02 07:52] #980 closed

[2019-09-02 08:34] #944 closed

[2019-09-02 08:35] thiswallz opened #989 "is it working under angular x?"
Hi All,
I would like to use it with angular x.

thanks!

[2019-09-02 08:35] #937 closed

[2019-09-02 08:35] #916 closed

[2019-09-02 08:36] #914 closed

[2019-09-02 08:36] #552 closed

[2019-09-02 09:17] hammy2899 commented on #989
@thiswallz Could you please specify what you mean exactly by "Angular X"

[2019-09-02 12:09] huansern commented on #989
@thiswallz I think he meant to say [Angular 8](https://github.com/Semantic-Org/Semantic-UI/issues/6863), which is also a topic I'm interested in.

[2019-09-02 13:31] hammy2899 commented on #989
@huansern

If that is the case there is a few options, there is a semantic-ui angular package https://github.com/edcarroll/ng2-semantic-ui but it seems that is also inactive.
There is also this package which is specific for FUI https://www.npmjs.com/package/ngx-fomantic-ui but it seems to be a project template not a library.

Unfortunately we don't offer an official implementation because we don't

[2019-09-03 09:57] prudho commented on #930
This is something i can see in the JSFiddle, but cannot reproduce on my computer...

Do you have another sample of code that will trigger this behavior ?

[2019-09-03 12:14] prudho commented on #635
`$('..').search('clear cache', value)` allow to delete from cache a single item.

[2019-09-03 12:19] prudho commented on #909
IMHO the onResult should be triggered no matter where come from the information. And yes, return where it come from is a good idea !

[2019-09-03 12:25] prudho commented on #417
Fixed by #982.

[2019-09-03 12:33] ziaratban opened #992 "[Feature Request][Dropdown] Clean Selection ..."
# Feature Request

## Description
how i can implements this feature by set a setting ?

## Example
[code]
[code]

## Testcase
http://jsfiddle.net/jr6tnge1/

[2019-09-03 12:36] prudho commented on #151
#982 provide some features which enhance step visibility, you might want to take a look at the new release.

[2019-09-03 13:01] lubber-de commented on #635
@prudho It's about `dropdown`, not `search` 😉

[2019-09-03 13:29] lubber-de commented on #992
There is no setting, but an existing behavior to shorten your code:
[code]
See http://jsfiddle.net/c4pyLvus/

[2019-09-03 13:47] ziaratban commented on #992
yes. but i think this feature must be added to setting for prevent complexity.

[2019-09-03 14:01] ziaratban opened #993 "[modal] popup and allowMultiple"
popup module not woking in modal when i set `allowMultiple` setting.

http://jsfiddle.net/f7tLpc9s/1/

[2019-09-03 14:32] lubber-de commented on #992
What is your use case yo `forceSelection:true` does not work for you? It will remove the searchTerm when it does not match any dropdown entry as expected
See http://jsfiddle.net/5uckpnga/

The intention of `forceSelection:false` basically is to _not_ remove the searchterm but let the user select something which is not in the list

[2019-09-03 20:19] tstar commented on #829
The issue present in version 2.7.8 :(

[2019-09-04 07:50] prudho commented on #829
Latest PR #995 should fix this issue.

Sorry to be so long, but handling dates is Javascript is horrible...

[2019-09-04 07:51] prudho commented on #986
Please take a look at his PR #995, it may be helpful for your issue.

[2019-09-04 09:20] mikecsh commented on #909
@maidzen thanks for your reply - I don't know what I had done to prevent the automatic handling of the loading class but it's working now. I still feel that onResult should be called regardless of source and my personal opinion is to use the same callback with a spruce parameter as you suggest.

[2019-09-04 09:35] johannes85 opened #997 "[Dropdown] Escaped element gets duplicated"
# Bug Report

When I add a new element with characters which will be html escaped, it wil get duplicated under certain conditions.

I think this is intruduced with: https://github.com/fomantic/Fomantic-UI/commit/f7c24ace480ef0f98350d8192caff44f42adf0a9

## Steps to reproduce
1. Open https://jsfiddle.net/yzvmobrw/1/
2. Add the following value: <div>
3. Press enter
4. Click in the white area under t

[2019-09-04 09:51] lubber-de commented on #997
Interesting, it does _not_ occur when using "tab" instead of "enter" 🤔

[2019-09-04 09:53] johannes85 commented on #997
And it also isn't occuring if you don't press enter and simply just klick outside of the box.

[2019-09-04 17:16] ziaratban commented on #992
because when i set `forceSelection` to `true` and when be typed part of text , one of item in list , selected!
is not good.

[2019-09-04 17:22] lubber-de commented on #992
I am still not understanding your use case.`'forceSelection:true` of course selects anything matching while typing, that's the intention of it.
The code you are providing always removes the search term when hiding the menu. That is not the intention of `forceSelection:false `. It's meant to be able to select something which is not in the list.
I am not sure if we really should add an option to alw

[2019-09-05 07:12] huansern commented on #989
@hammy2899 Is it possible to have a pure CSS/LESS only build for the upcoming v3.0 of FUI? I think by creating a CSS only build will allow FUI to be used in pretty much any project, leaving the programmatic behaviors to be implemented by end user or library author downstream.

[2019-09-05 07:17] hammy2899 commented on #989
@huansern Yes the CSS only dist will most likely stay a thing however v3 is going to be SASS so there won't be a LESS dist but we are making the framework more modular so you will also be able to import specific components and keep theme support.

[2019-09-05 07:24] huansern commented on #989
Okay thanks. You can close this issue now I suppose, since all questions already been answered and there is nothing left to discuss.

[2019-09-05 07:30] #989 closed

[2019-09-05 12:18] hammy2899 opened #1000 "[Slider] onChange ran when initialized"
# Bug Report

## Steps to reproduce
1. Create a slider with `onChange` method
2. View the page

## Expected result
Nothing should happen in the `onChange` method and the slider should be initialized as normal

## Actual result
Slider is initialized but `onChange` is ran

## Testcase
https://jsfiddle.net/jgwkd75c/

## Screenshot
![asbYBqd5Eu](https://user-images.githubusercontent.com/11588822/64341

[2019-09-05 12:19] hammy2899 commented on #1000
This is because `set.value()` is ran in the `read.settings()` method here https://github.com/fomantic/Fomantic-UI/blob/develop/src/definitions/modules/slider.js#L1002

and `read.settings()` is ran in the `initialize` method here https://github.com/fomantic/Fomantic-UI/blob/develop/src/definitions/modules/slider.js#L112

[2019-09-05 12:42] lubber-de commented on #986
As @prudho said, i can confirm it is fixed by #995
See your adjusted jsfiddle here https://jsfiddle.net/p04xfcnv/

[2019-09-05 12:49] mrkvn commented on #432
I found this line in my semantic.json file:
"components": []

I removed that line and it's now fixed for me.

[2019-09-05 17:20] lubber-de commented on #992
@ziaratban After thinking about it for a while now, i think we can make use of the already existing `allowAdditions`  setting. This is `false` by default and should remove the searchterm when it does not match anything.
I prepared a PR to support that here  https://github.com/fomantic/Fomantic-UI/pull/1002

[2019-09-06 15:16] GammaGames commented on #1000
I always assumed this was a feature, dropdown does it too. I do see that a few other modules have a `fireOnInit` setting, but I'm not sure if it's working on the Rating module. https://jsfiddle.net/x8ue7dmq/

I think not calling `onChange` by default and offering a `fireOnInit` for every input would be the most consistent.

[2019-09-06 17:45] trandromeda opened #1003 "[Globals] Defining breakpoints in site.variables in a custom packaged theme not building"
# Bug Report
## Steps to reproduce
1. Create a custom packaged theme by making a new folder under themes e.g. `semantic/src/themes/mycustomtheme`
2. Create `mycustomtheme/globals/site.variables`
3. Add your own breakpoints e.g.
[code]
4. In `theme.config`, specify Globals: @site to use the custom theme e.g. `@site       : 'mycustomtheme';`
5. Run `gulp build`

## Expected result
Site should use ne

[2019-09-06 18:20] trandromeda commented on #1003
I just found this in `tasks/build/css.js':

[code]

So any changes to a `site.variables` file is ignored and not built... I'm assuming that is why my custom theme globals for site.variables were not being used either, and from there it seems the intent of the author was to enforce usage of globals only to the Site Theme ...? It confused me that the Github and Amazon themes had a Globals/site.varia

[2019-09-06 19:30] fridzema opened #1005 "[Feature Request] Disable animations"
# Feature Request

## Description
I think it is a nice addition to disable animation completely for certain components.
Some components you can set 'fade' as the most simple animation but there is no option for none. For example a config option in each component like `disableAnimations: true`

Old issue:
https://github.com/Semantic-Org/Semantic-UI/issues/1158

[2019-09-06 20:36] exoego commented on #1005
As jlukic mentioned in original issue, animation can be disabled by setting @transitionDuration to 0s.
What are missing for this solution?

[2019-09-07 16:49] 0xF6 commented on #319
How do you like the idea of adding implementation to plans for Blazor Components? 🤔

[2019-09-09 16:59] rmarchiori opened #1009 "Modal not centered correctly when using detachable: false"
# Bug Report

Hello, it seems that the modal is not centering correctly when using option detachable: false and we have a long scrollable content.

My guess is that it is not calculating the top property correctly, it seems to be using the body height instead of viewport height.

Note 1: If you remove detachable : false option it works.
Note 2: If you remove like a paragraph of text you will then

[2019-09-09 19:45] GammaGames commented on #1009
It's not centered vertically, though it does stay centered if you make the window tall enough for the content and resize it down.

![Screen record from 2019-09-09 13 43 25](https://user-images.githubusercontent.com/7832163/64561438-fdee5e80-d307-11e9-9e60-a7dcbbfe94b5.gif)

[2019-09-09 22:40] brendon opened #1010 "Mixing grid and container (vs nested usage) results in differing container width"
# Bug Report

At a cursory glance, it appears there was a move away from negative margins on grid containers in a recent update. The result of this is that when [mixing `grid` and `container`](https://fomantic-ui.com/collections/grid.html#containers) the resulting width of that container is different from what we'd get if we just nested a `grid` inside a `container`. This resulted in a visual chan

[2019-09-09 22:52] brendon commented on #1010
Following this up, it appears related to this commit: https://github.com/fomantic/Fomantic-UI/commit/e3a6bc33005fdd9e4ba3c92863a051e94fb1417e#diff-19a0f29cbd9dd7f8b8b6490361863667R91

Specifically, the specificity of the rest of those selectors in that block needs to match the first (so they should all start with `.ui.ui.ui` to retain the expected original behaviour. In my case I need:

[code]

to

[2019-09-11 08:00] lubber-de commented on #1010
@brendon Please have a look at the following jsfiddles i prepared according to your mentioned code
SUI 2.4.1
https://jsfiddle.net/4npfjxhL/
FUI 2.7.8
https://jsfiddle.net/4npfjxhL/1/

I have to admit the `grid container` version has a slightly different margin, but they (`.container .gid` vs `.grid.container`) definately do not match the same overall width as you expected, not even in SUI.

Regard

[2019-09-11 08:05] brendon commented on #1010
Sorry my example omitted the `ui` from the seperate `container`. See: https://jsfiddle.net/97k5emrj/ for the proper result.

[2019-09-11 08:24] lubber-de commented on #1010
Ah ... now it makes sense. Sorry, i should have detected the missing `ui`s by myself 🙄

Anyway: They still do not completely match even in SUI. There is always a different left/right margin.
Funny thing: On small devices FUI matches SUI again... See

### Small device/width

![image](https://user-images.githubusercontent.com/18379884/64680345-e6d17d00-d47d-11e9-9b53-cccbfd8fd6e8.png)
![image](https

[2019-09-11 08:51] brendon commented on #1010
Sorry, I missed even more detail in replicating. The column needs to be full-width to trigger it:

SUI: https://jsfiddle.net/4npfjxhL/
FUI: https://jsfiddle.net/neuf05s2/

🤦‍♂

[2019-09-11 11:07] lubber-de commented on #1010
@brendon
Thanks for reporting. Indeed the specificity had to be adjusted as you stated
Fixed by #1011
See https://jsfiddle.net/xr324Lkg/

[2019-09-11 13:45] fridzema commented on #1005
Doesn't worked for me, tried a while ago. Even if it did work it is not a good solution as the javascript still thinks it should be animated and excutes that function what causes unnecessary calls.
Also i really want this behaviour per module and not for all components.
Maybe something to think of in the next version.

[2019-09-11 13:50] fridzema opened #1012 "[Feature Request] Reordering dropdown items"
In my application i use a lot of dropdowns and they work perfectly!
but..... the only question that keeps returning is that it would be nice to reorder the selected items.
If you want to change the first item you must clear the whole dropdown and start again.

Hope this is clear and else i can put some screenshots in it later.

[2019-09-11 14:06] hammy2899 commented on #1012
@fridzema Could you provide the screenshots you mentioned and a [JSFiddle](https://jsfiddle.net/31d6y7mn) if you can.

[2019-09-11 15:26] fridzema commented on #1012
Made a fiddle just for the "screenshot".
I think this illustrate the problem well.
You make a selection like:
french, english, dutch
But after that for example it must be dutch english french for example, you need to start over again.

![Kapture 2019-09-11 at 17 21 25](https://user-images.githubusercontent.com/8180660/64710715-b78c3180-d4b8-11e9-82a9-b793f6fc5747.gif)

In my application they must

[2019-09-11 17:15] lubber-de commented on #1012
I think we would have to implement a general `dragabble` behavior for components to reorder the labels or even menu items . This could also be useful for menu, modal, toast...

[2019-09-11 18:37] hammy2899 commented on #1012
As @lubber-de said we would need to add something like `draggable`, I personal think this adds a lot of complexity to something like the dropdown component and I'm not sure we should add that kind of behavior.

[2019-09-12 06:44] prudho commented on #1012
Maybe we can add a parameter that will allow an auto sort on multiselection dropdowns ? And add a second parameter which will let the user to define a sort method...

[2019-09-12 07:29] prudho commented on #1009
It's centered to the dimmer. If your viewport is too small and have to scroll, the dimmer stay upper so the modal is not centered anymore. It's a bug, but I don't know how to fix this 😕

[2019-09-12 13:48] Kingo64 opened #1014 "[Tab] Auto-activate doesn't check siblings, breaks individual tab definitions"
# Bug Report

## Steps to reproduce
1. Initialise a menu with tabs
2. Initialise/modify a single tab in the menu
3. Menu now selects the last modified tab as the 'active' tab incorrectly as it fails to check for siblings

## Expected result
Individual tab should update without affecting the other tab members in the menu.

## Actual result
Last modified tab gets set as the 'active' tab in the menu

[2019-09-12 20:33] decimoseptimo opened #1017 "Provide more control over pagination items to display"
Given a standard pagination of 9 times:
[code]

Outputs:
start: < 1 2 3 4 5 . 9 >
end.: < 1 . 5 6 7 8 9 >
mid.: < 1 . 3 4 5 . 9 >

There were 8 items to click on start and end, but 7 items on middle.
We should recognize there are 2 states: 1 for start, end. Other for middle.

let's breakdown the start state:
-If 4 is the middle item.
-is boundaryRange: 1 & 9 ?
-is siblingRange: 2, 3 (left); 5, . (

[2019-09-13 05:12] #1017 closed, assigned to nobody

[2019-09-13 06:57] ventura-eesc opened #1018 "Transition Complete, event is not passed"
# Bug Report

TypeError: Cannot read property 'target' of undefined
    at Object.complete (semantic.js:23151)
    at Object.animate (semantic.js:23120)
    at Object.initialize (semantic.js:23025)
    at HTMLDivElement.<anonymous> (semantic.js:23949)
    at Function.each (jquery.js:354)
    at jQuery.fn.init.each (jquery.js:189)
    at jQuery.fn.init.$.fn.transition (semantic.js:22975)
    at Obj

[2019-09-13 07:06] lubber-de commented on #1018
That's already fixed since 2.7.6
Please check what FUI version you are using.

[2019-09-13 07:20] lubber-de commented on #1018
See here:
https://github.com/fomantic/Fomantic-UI/blob/4b5cd6bc0dd17cf2645d3a5f1564cfe20691b7a3/src/definitions/modules/transition.js#L218

[2019-09-13 07:20] #1018 closed

[2019-09-16 09:46] hakeem86 opened #1019 "YYYY-MM-DD when using 'set date'"
# Help Wanted

Just want to ask, is YYYY-MM-DD the corect way format the date when using 'set date'
I have tried with diffrent dates and seem to parse correct every time.

## Problem

https://jsfiddle.net/p4kbnsae/

[2019-09-17 06:15] prudho commented on #1019
Yup, this date is parsed correctly every time using this format.

[2019-09-17 09:13] Daniel127 commented on #319
@0xF6 I'm implementing semantic components for Blazor, when it's finished I can continue with a fork for Fomantic.

[2019-09-18 06:58] ambrt opened #1021 "Prevent slider from swapping handles"
# Feature Request

Slider should have option to  block "max handle" when trying to go below "min handle"

## Description
The slider handles can be reversed, so if i drag max handle to the left of min handle, values get inverted.

There should be option in settings to prevent this.

## Example
![ui-slider-bug](https://user-images.githubusercontent.com/10456131/65122874-4b4a8a00-d9f2-11e9-90e8-ec2c6

[2019-09-18 07:09] ambrt commented on #1021
In examples this feature is achieved by
[code]

Maybe it would be clearer to make it a setting

[2019-09-18 07:16] hammy2899 commented on #1021
This setting should be called something like `preventCrossover` and I think it should  be enabled by default since this is unexpected.

[2019-09-18 19:21] YamiOdymel opened #1022 "Integration with the new media query: prefers-color-scheme"
**What is it**

The incoming media query [`prefers-color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) allows developers to change the styles based on the user preference about the *dark* theme or *light* theme.

[code]

**What should we do**

Maybe a solution, tutorial about how to adapt two different Fomantic-UI themes with the  `prefers-color-scheme` med

[2019-09-19 00:59] exoego opened #1023 "[table] Footer have no style"
# Bug Report

## Expected result

Cells in footer (`<tfoot>`) should have padding and borders as similar as cells in header `<thead>` and in body `<tbody>` have.

## Actual result

Cells in footer seems have no styling (e.g. padding and borders).

## Testcase
https://jsfiddle.net/ey5tL6hk/

## Version
2.7.8

## Related

#840
https://github.com/Semantic-Org/Semantic-UI/issues/5413 Closed by bot, bu

[2019-09-19 13:27] prudho commented on #1014
Oh, sorry about that... I did not a anticipated this case 😞

Actually the best fix to provide is to don't check the active tab when a tab was previously initialized. I'll submit a PR soon !

[2019-09-19 14:01] lubber-de commented on #1014
Fixed by #1025
See your adjusted jsfiddle here https://jsfiddle.net/bw89drqL/

[2019-09-19 15:30] Kingo64 commented on #1014
Thank you!

[2019-09-19 16:34] testinfected opened #1026 "[calendar] only considers the first 3 letters to identify month words"
# Bug Report

When entering a date using words, calendar only considers the first 3 letters of the month, which in most languages is probably sufficient, but not in french. As a result `juillet` (july) is always interpreted as `juin` (june).

## Steps to reproduce
1. Configure calendar with:
[code]

2. Enter `5 juillet 2019` (July 5th)

## Expected result

`05/07/2019` (July 5th)

## Actual result

[2019-09-19 16:36] testinfected commented on #1026
An option could be to make the number of letters used configurable

[2019-09-19 16:51] testinfected commented on #1026
Apparently french is not the only language with this issue: https://library.princeton.edu/departments/tsd/katmandu/reference/months.html

[2019-09-19 20:13] lubber-de commented on #1026
Fixed by #1028
I prepared a jsfiddle using an additional setting `monthParseLength` here https://jsfiddle.net/bdanwq7t/1/

[2019-09-20 02:21] exoego commented on #1023
Closing since this duplicates #840

[2019-09-20 02:21] #1023 closed

[2019-09-20 06:38] lubber-de commented on #1026
Optimized the PR, so the extra setting is not needed
https://jsfiddle.net/bdanwq7t/2/

[2019-09-20 07:30] prudho commented on #931
Fixed by #1029.

Please see your adjusted Fiddle [here](https://jsfiddle.net/ace4hd0m/).

[2019-09-20 08:08] jamessampford opened #1030 "[Table] Coloured Border Left"
# Feature Request
Essentially a bit like https://fomantic-ui.com/collections/table.html#colored but with the ability to apply it to the left (or right) table row border. A transparent option may also be required.

## Example
https://jsfiddle.net/5for3buz/

## Screenshot
![]()
![image](https://user-images.githubusercontent.com/1376843/65310430-3272dd80-db86-11e9-8cc7-d0243df5ebfc.png)

[2019-09-20 12:15] jjylha opened #1031 "[Modal] Modal bottom margin bug on Firefox"
# Bug Report

## Steps to reproduce
1. Go to https://fomantic-ui.com/modules/modal.html#scrolling-modal
2. Open "Scrolling Modal" with Firefox and scroll all the way down
3. Modal and the bottom of the screen do not have the same space as other browsers

## Expected result

Modals should have same margins on all browsers

## Actual result

Firefox renders margin incorrectly

## Testcase
https://fo

[2019-09-20 12:15] jjylha opened #1075 "[Modal] Modal bottom margin bug on Firefox"
# Bug Report

## Steps to reproduce
1. Go to https://fomantic-ui.com/modules/modal.html#scrolling-modal
2. Open "Scrolling Modal" with Firefox and scroll all the way down
3. Modal and the bottom of the screen do not have the same space as other browsers

## Expected result

Modals should have same margins on all browsers

## Actual result

Firefox renders margin incorrectly

## Testcase
https://fo

[2019-09-24 06:28] lubber-de commented on #1019
As @prudho said, this format is parsed (as well as other as you found out), but it's not THE format.
To be on the very save side, you can always provide a Javascript date object instead of a string.
Closing because your question was answered

[2019-09-24 06:28] #1019 closed

[2019-09-24 12:50] YamiOdymel commented on #1022
Since we have the new [Central dynamic color map](https://github.com/fomantic/Fomantic-UI/pull/261/), it's possible to add the color variables for the dark theme.

[code]

But it's stupid since you will have to render the styles twice now for the different color scheme.

[code]

**Solution**

The solution will be the [CSS Variable](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_

[2019-09-24 16:46] lubber-de commented on #1022
I think, you can achieve this today without any change to the code and keep full IE11 compatibility.
[code]

[2019-09-24 18:55] ildede opened #1035 "Label instead of corner icon, is it possible?"
# Help Wanted

I'm trying to create an icon with a little label, like this for example:
![Schermata del 2019-09-24 20-49-42](https://user-images.githubusercontent.com/3754465/65541121-fe444780-df0c-11e9-8d9e-79e4622f62cc.png)

I see that this is possible with "_icon & icon_" https://fomantic-ui.com/elements/icon.html#corner-icon
But I can't find a way, directly within Fomantic, of doing this with

[2019-09-25 05:23] Druidsnake commented on #935
i have same issue
im using vivaldi browser,  GMT -5 with YYYY-MM-DD format string i got date-1day. but when add: + "T00:00:00" it works again correctly.
thx

[2019-09-25 05:26] lubber-de commented on #935
@Druidsnake that's most probably because of your local timezone. In the end the string date is given to the js engine to produce a js date object which then does not know about the timezone until you are providing it as mentioned by you.

[2019-09-25 08:54] donaggio commented on #1035
Have you looked at this: [https://fomantic-ui.com/elements/label.html#floating](https://fomantic-ui.com/elements/label.html#floating)?
It seems more suited to your needs.

[2019-09-25 10:29] ricohumme opened #1036 "File input not triggering within tabs"
This bug was already reported in SUI and confirmed but not resolved yet in FUI as of today.

Details: https://github.com/Semantic-Org/Semantic-UI/issues/6340

Could this be addressed in FUI ?

[2019-09-25 10:36] hammy2899 commented on #1036
I can't seem to reproduce this in FUI, what version are you using?

https://jsfiddle.net/ubn40d95/

[2019-09-25 11:12] ricohumme commented on #1036
Just took a look, 2.7.5

[2019-09-25 11:37] hammy2899 commented on #1036
Just tried using 2.7.5 and it works fine, could you make a JSFiddle of your implementation so I can compare it to my test case.

[2019-09-25 12:15] AmrTealeb opened #1037 "RTL CDNJS version"
Is there an RTL css version available on CDN?

[2019-09-25 12:18] hammy2899 commented on #1037
No there is not, to get RTL support you need to build the library yourself.

[2019-09-25 12:18] #1037 closed

[2019-09-25 12:19] MartiVB commented on #1036
I create a new fiddle with the error : https://jsfiddle.net/Lxjscrk4/
So the error appear when you use the tab('change tab').

[2019-09-25 12:21] Ikaer commented on #936
Some other issues with grouped icons and lists. Do you prefer I open another issue ?

https://jsfiddle.net/cav3wsqf/

On grouped icons:
- normal color is incorrect.
- hover color is incorrect.
- right margin is incorrect.

Fixed by adding those rules:
https://jsfiddle.net/cav3wsqf/1/

[2019-09-25 12:23] hammy2899 commented on #936
@Ikaer Yes open another issue because they seem unrelated to this one.

[2019-09-25 12:24] jamessampford commented on #1036
Slightly amended JSFiddle correcting the JS so it works:
https://jsfiddle.net/v2soa96t/2/

[2019-09-25 12:25] hammy2899 commented on #1036
Thanks @MartiVB that seems to replicate it 👍

[2019-09-25 12:26] hammy2899 commented on #1036
@jamessampford your fiddle seems to work for me, what browser are yo using?

[2019-09-25 12:29] jamessampford commented on #1036
Chrome 77 - basically I _think_ it is to do with the way the tab was set to change focusing on the data attribute that exists as the tab and segment

Using the JSFiddle from https://github.com/fomantic/Fomantic-UI/issues/1036#issuecomment-534994699

Removing the below
`$('[data-tab="one"]').tab('change tab', 'one');`
Leaving
`$('.tabular.menu .item').tab();`

Both tabs and file input works as per

[2019-09-25 12:30] Ikaer opened #1038 "[Grouped Icons][List] Incorrect behaviour of grouped icons in list of item"
# Bug Report

## Steps to reproduce
use the jsfiddle

## Expected result
grouped icons color should be like normal icon
grouped icons hover color should be like normal icon
grouped icons right margin should be like normal icon

## Actual result
normal color is incorrect.
hover color is incorrect.
right margin is incorrect.

## Testcase
https://jsfiddle.net/7ptejr2f/

## Screenshot (when possible)

[2019-09-25 12:35] MartiVB commented on #1036
@jamessampford that works for me!

[2019-09-25 13:39] alanondra opened #1039 "[FUI-LESS] Missing Javascript"
# Feature Request

## Description
The LESS package is missing the distributed Javascript that can be found in the normal package. I was under the impression that the existence of the LESS package was to give access to the LESS files if one does not wish to use the installation method. It is not clear that it also is built under the assumption that people using it are expected to reimplement your J

[2019-09-25 13:46] hammy2899 commented on #1039
The LESS package does actually include the JavaScript modules their just located in a different place compared to the other packages. https://github.com/fomantic/Fomantic-UI-LESS/tree/master/definitions/modules

[2019-09-25 14:51] alanondra commented on #1039
That's understood. It means however having to import each file individually even if using the full JS, and it also means that, since it's not described as the main file, it's not supported in the extract feature to pull its resources into a vendor script separate from the application script.

[2019-09-25 21:13] ildede commented on #1035
The floating label is not so powerful as a group of two icons. For example classes like large/small, or colors, does not work properly on the label.

For now I have created some custom font icon with fontello.

[2019-09-25 21:55] hammy2899 commented on #1035
Currently this is not possible, I can't really think of any reason this would be a common thing you would need so I don't think this would be something we would add unless you can provide some common examples which users would use this for.

[2019-09-25 22:12] ildede commented on #1035
I don't think this is a common thing, and if this is not something already in Fomantic there is no problem.

My question was just to be sure that I did not miss something.

Thanks ;)

[2019-09-25 22:12] #1035 closed

[2019-09-26 09:41] WK6-work opened #1040 "[Dropdown] Prevent focus on Search Selection Dropdown when calling dropdown('show')"
# Feature Request
## Description
When I call `$.dropdown('show')` to Search Selection Dropdown, the dropdown focuses and scrolls automatically.
​
I would like to control focus and scroll events to the dropdown.
​
## Example
https://jsfiddle.net/ad1h8u03/
​
## Version
2.7.8

[2019-09-26 10:18] hammy2899 commented on #1040
Could you please elaborate more on what you mean exactly as I am a bit confused what your trying to achieve.

[2019-09-26 10:39] WK6-work commented on #1040
I would like to prevent auto-scrollilng in the right-side example in jsfiddle.
For example by setting a focus option on `$.dropdown('show')`.

e.g.

[code]

![dropdown-auto-scroll](https://user-images.githubusercontent.com/6407737/65682126-4bebbc00-e095-11e9-8cce-0161ba96e70a.gif)

[2019-09-26 13:26] rmanibus opened #1041 "Example to use context in visibility API"
# Help Wanted

## Problem
Hi,
I can't figure out how to use the context property in the visibility API.
I tried the following :
[code]
But nothing happens. It work correctly without the visibility property but I want the element to be fixed only inside the container.
What am I missing here ? Is it possible to add some example in the documentation ?

Thank you

[2019-09-26 14:42] hammy2899 commented on #1041
This JSFiddle may help you understand its usage https://jsfiddle.net/jqLmg3oz/

[2019-09-26 18:19] vidoardes opened #1042 "Dropdown API load on page load."
# Help Wanted

## Problem
Hi there, just looking at moving over from Semantic UI and I didn't know if changes over here would help solve a problem I've had. I have a drop down that gets it's data from an API call, which works perfectly, except the list isn't loaded until the dropdown is clicked. I cannot for the life of me figure out how to get it to make the call when the page first loads so it i

[2019-09-27 07:55] prudho commented on #1042
I'm not sure this is doable actually... Maybe you can call `$('.ui.dropdown').dropdown('queryRemote', '', function() {});` so it should preload your data, but i'm not confident about this...

[2019-09-27 19:04] sazzer opened #1043 "[Dropdown] How to configure the Action on a Dropdown from HTML"
# Help Wanted

## Problem
I'm trying to use the Dropdown module in an HTML page, and I'm trying to render it as HTML with the minimal amount of Javascript. This works great, but clicking on the menu items causes the text to change.

What I ideally want to do is set the Dropdown action to `hide`, but to do so only changing the HTML and not needing to change the way that the JavaScript is calling it

[2019-09-30 13:06] lubber-de commented on #1043
Does a `simple dropdown` work for you? It does not even need any Javascript at all 🙂
https://fomantic-ui.com/modules/dropdown.html#simple

[2019-09-30 14:30] hammy2899 opened #1044 "Hacktoberfest 2019 🎃"
![Hacktoberfest_19_Events_620x76](https://user-images.githubusercontent.com/11588822/65876225-b09e6380-e380-11e9-9914-161b181154c3.png)

Hi all 👋

Fomantic is participating in Hacktoberfest this year 🎉 we would love for you to spread the word and get as many people as you can involved in open source not just on Fomantic but on as many project as you can. If you've been using open source software f

[2019-09-30 15:04] sazzer commented on #1043
That works, yes. I'd managed to overlook it!

However, the usability isn't fantastic :\

This is my menu:
![image](https://user-images.githubusercontent.com/66072/65891124-ed2b8880-e39b-11e9-885b-8a70dec07549.png)

And this is the area of the menu you need to hover to activate the dropdown:
![image](https://user-images.githubusercontent.com/66072/65891151-fae10e00-e39b-11e9-9969-7f2ff3cc218f.png)

[2019-09-30 15:11] hammy2899 commented on #1043
@sazzer Could you try and recreate your menu in a JSFiddle, I can't replicate your issue here https://jsfiddle.net/bgnoj683/

[2019-09-30 16:13] sazzer commented on #1043
I can, but actually I've worked it out thanks to yours :) I'd gotten the _item_ class in the wrong place.

Difference between:
            <div class="right menu item">
                <div class="ui simple dropdown">

and
            <div class="right menu">
                <div class="ui simple dropdown item">

[2019-09-30 16:27] #1043 closed

[2019-09-30 16:59] mpark86 commented on #1038
Hi, can I take a look at this?

[2019-09-30 17:00] hammy2899 commented on #1038
@mpark86 Ofcourse 😉

[2019-09-30 17:07] lex111 commented on #873
Can I have more details to implement this?

[2019-09-30 17:43] hammy2899 commented on #873
@lex111 Sure 😃

The kitchen sink is a place which show cases all components and different variations of those modules. Currently it is not up to date with the available and recent updates to components. For example it is missing the Slider and Calendar components and doesn't showcase all the new icons and some icons on the page don't exist anymore. It is also missing new variations of components l

[2019-10-01 04:19] cuongseo opened #1047 "Calendar not working with right sidebar"
# Bug Report

## Steps to reproduce
1.Calendar not working with right sidebar

## Expected result
Show calendar in input field
## Actual result
Calendar not show
## Testcase

## Screenshot (when possible)
![]()

## Version
x.x.x

[2019-10-01 04:26] exoego commented on #1047
I think this is not enough to reproduce issue.
Please consider forking https://jsfiddle.net/31d6y7mn and create a minimum reproducible demo.

[2019-10-01 12:22] lubber-de commented on #652
Fixed by #1048
See your adjusted fiddle here https://jsfiddle.net/8ftyua2g/1/

[2019-10-01 13:01] ivandevp commented on #1030
Can I work on this?

[2019-10-01 13:23] lubber-de commented on #1047
Basically a calendar works in a right sidebar
https://jsfiddle.net/vwqmytpn/

But, what the issuer probably claims about is the fact that the sidebar has a `overflow-y` set which cuts the calendar, because it's larger than the default sidebar width (we have similiar problems when using calendar or popups in scrollable dropdowns or modals)
![image](https://user-images.githubusercontent.com/18379884

[2019-10-01 13:25] lubber-de commented on #1047
Closing because assumed question was answered. Happy to reopen, if your issue was different and you provide a reproducable jsfiddle.

[2019-10-01 13:25] #1047 closed

[2019-10-01 13:33] lubber-de commented on #1030
@ivandevp I already assigned this to me and a PR is provided this evening

[2019-10-01 13:48] ivandevp commented on #1030
Oh.. ok. Great!

[2019-10-01 22:14] lubber-de commented on #1030
Provided PR is here as promised #1049

[2019-10-01 23:48] zombietfk commented on #554
Working on this :)

[2019-10-01 23:54] exoego commented on #1003
@ColinFrick
Could you see this when you have time ?
I think you have expertise in build tools.

[2019-10-02 05:21] ColinFrick commented on #1003
I'll look into it.

[2019-10-02 08:26] jeffrson commented on #386
IMO, running with "--ignore-scripts" is not a solution but, at best, a workaround. Furthermore, if running this in a yarn workspace or by lerna there will be further issues.

Is there any reason this can't be fixed properly?

[2019-10-02 09:02] rmanibus commented on #1041
So it is not designed to fix content only when a specific div is passing on screen. I used sticky instead.

Thank you very much.

[2019-10-02 09:02] #1041 closed

[2019-10-02 14:54] lubber-de commented on #1040
Made it possible by #1052
See your adjusted jsfiddle here https://jsfiddle.net/ragfLzky/

[2019-10-02 16:18] dutrieux opened #1053 "Form validation disable functionnality on composant does not require Javascript to function"
# Bug Report

## Expected result
When there is a form validation on form with composant does not required javascript, this composant must function.

## Actual result
When there is a form validation on form with composant does not required javascript, this composant doesn't function.

## Testcase
https://jsfiddle.net/dutrieux/6z17r3q4/1/

## Screenshot
![form_validation](https://user-images.githubu

[2019-10-02 16:22] lubber-de commented on #1053
🤔 Your jsfiddle works fine: The Checkbox is checkable even if JS for form validation is used or not.
However your animated screenshots shows a differen jsfiddle which also uses Angular 1 which might does something with your checkbox which is "corrected" when FUI Form validation is used.
Please provide the jsfiddle from your screenshot for easier investigation

[2019-10-02 16:30] dutrieux commented on #1053
Ok I find it :
I doesn't work on Firefox but work on Chrome

[2019-10-02 17:01] lubber-de commented on #1053
Ok, got it. Its not related to firefox, but the way checkboxes are used/supported in form validations. There, it is expected that every checkbox is available as an module object to be able to get its values.
We have to investigate more into this then.
Just for comparison: If i initialize the checkbox before it's working
https://jsfiddle.net/2nkjbhtq/

[2019-10-02 17:07] dutrieux commented on #1053
I don't understand why it's not due to Firefox because on firefox it's not work and the same jsfiddle work on Chrome, but any way ...

[2019-10-02 17:09] lubber-de commented on #1053
In chrome direct clicking on the checkbox itself (not the label) was als not working for me

[2019-10-02 17:11] dutrieux commented on #1053
Ok sorry I ditn't see that :s

[2019-10-02 17:32] Darking360 commented on #834
I can work on this 🚀 I'm cloning and setting everything up 🙏

[2019-10-03 12:46] rmarchiori opened #1055 "Mouse down event inside modal and mouse up outside modal should not close modal dialog when detachable false"
# Bug Report

Mouse down event inside modal and mouse up outside modal should not close modal dialog.

It works with detachable true; It works on firefox but not chrome.

It seems that the mousedown button is not triggering when detachable false because modal div is not inside the dimmer div anymore.

## Steps to reproduce
1. Open fiddle
2. Click inside the modal selecting the text input
3. Releas

[2019-10-04 08:24] jamessampford opened #1058 "[Dropdown] Menu Direction padding issue"
# Bug Report
https://fomantic-ui.com/modules/dropdown.html#menu-direction

## Expected result
![image](https://user-images.githubusercontent.com/1376843/66192578-b1890b00-e688-11e9-8fb5-6d042c04dbaa.png)

## Actual result
![image](https://user-images.githubusercontent.com/1376843/66192521-90281f00-e688-11e9-84e3-a4edc91a6303.png)

## Version
2.7.8

[2019-10-04 08:39] jamessampford opened #1059 "[Dropdown] Description position & enhancements"
# Feature Request
https://fomantic-ui.com/modules/dropdown.html#description

Have an alternative position for description - such as directly underneath the option (it would also be nice if the description overlap "issue" was fixed so minimum width doesn't need to be set)

Was thinking also to have an alternative/different style so the option name was bold, like a header, and the description was no

[2019-10-04 10:21] hannahblair commented on #873
Heya! Can you assign this to me please? 😊

[2019-10-04 10:26] exoego commented on #873
Assigned to @hannahblair

[2019-10-04 12:18] sazzer opened #1061 "Responsive Grid doesn't work on Mobile devices"
# Bug Report

I'm using a Mobile Responsive Grid, so that when my page is rendered on a large screen I get two columns side-by-side and on a small screen they are stacked. This *seems* to work, but only when rendering in "Desktop Mode" (Whatever that means)

## Steps to reproduce
Exact markup that I'm using:
[code]

## Expected result
When rendered in a normal desktop browser:
![image](https://use

[2019-10-04 12:22] lubber-de commented on #1061
It does, just append "/show"  to the jsfiddle URL

[2019-10-04 12:26] lubber-de commented on #1061
Please provide a jsfiddle with your content, because i believe your issue is related to the used content inside the columns.
Using only your little code above results in a fine working behavior:

https://jsfiddle.net/btc2rue0/
https://jsfiddle.net/btc2rue0/show (for mobile view)

[2019-10-04 12:39] sazzer commented on #1061
Ok - the "/show" bit I didn't know about, but very worth knowing :)

Curiously, the *exact* markup that I'm using in reality - I literally copied it out of Chrome Developer Tools - works fine in jsfiddle but not in my app - both when running in Chrome Desktop using Mobile Mode. The Jsfiddle also doesn't work on my actual phone, so it *does* reproduce the issue somewhat.

That markup is at https://

[2019-10-04 12:40] sazzer commented on #1061
Screenshot from my phone of the Jsfiddle page:
![image](https://user-images.githubusercontent.com/66072/66208225-80bacd00-e6ac-11e9-8cd5-5714d35834b8.png)

[2019-10-04 13:11] lubber-de commented on #1061
Basic solution: Use `five wide column` and `eleven wide column` instead, because your menu content does not fit. See https://jsfiddle.net/58op7kc6/

Other than that it your fiddle work completely fine for me on my mobile phone.
Your mobile browser is probably configured to force Desktop Mode. Only then, i can reproduce your issue.

[2019-10-05 05:14] iwgx commented on #901
Hey, I would like to take this :smiley:

[2019-10-05 08:23] lubber-de commented on #1061
Closing because reason of behavior was found and solution provided.

[2019-10-05 08:23] #1061 closed

[2019-10-05 10:10] lubber-de commented on #901
Fixed by #1066

[2019-10-05 11:09] TomerPacific commented on #1031
@lubber-de , Can I try to solve this issue? Anything specific I need to be aware of?

[2019-10-05 11:11] lubber-de commented on #1031
@TomerPacific Sure, go ahead 👍

[2019-10-05 12:46] TomerPacific commented on #1031
@lubber-de , I might be misunderstanding the issue as I am not seeing any difference. I am trying to reproduce it using the latest Firefox version and this is what I am seeing:

**_Chrome_**
![scrolling_modal_chrome](https://user-images.githubusercontent.com/23402988/66254986-b207cb80-e786-11e9-8ec5-d878543a2a17.jpg)

**Firefox**
![scrolling_modal_firefox](https://user-images.githubusercontent.com

[2019-10-05 12:50] lubber-de commented on #1031
:thinking: I am going to reproduce using browserstack again. Maybe it was occurring on macos and Firefox only

[2019-10-05 15:31] lubber-de commented on #1031
OK, results are here:
MacOS, Firefox 69 (and also 70 beta):
- Modal does not have any bottom margin at all
![image](https://user-images.githubusercontent.com/18379884/66256967-dd44e780-e793-11e9-9dcc-96b28177eaeb.png)

MacOS, Chrome 77:
- Modal does have the bottom margin
![image](https://user-images.githubusercontent.com/18379884/66257024-7bd14880-e794-11e9-892e-f99ed241b9ba.png)

Windows 10, Fir

[2019-10-05 16:13] lubber-de commented on #987
Implemented by #1067

[2019-10-05 16:50] TomerPacific commented on #1031
@lubber-de , so what would be your optimal solution? Do you want all browsers to have the bottom margin or not?

[2019-10-05 17:05] lubber-de commented on #1031
@TomerPacific  I think, the most optimal solution would be to have the bottom margin on every browser

[2019-10-05 18:23] TomerPacific commented on #1031
@lubber-de , Ok. I will work on making it similar for all browsers. As a side note, I am operating a Windows machine, so it will be hard for me to make sure things are working correctly for Mac.

[2019-10-05 22:15] lubber-de commented on #1053
That was quite a headache to find out, but finally fixed by #1068
See your adjusted jsfiddle here (also works on firefox now) https://jsfiddle.net/ysq9j3fn/

[2019-10-06 18:35] TomerPacific commented on #1031
@lubber-de , from some investigation, I have learned that this issue does not reside within the Fomantic-UI repository, but rather the Fomantic-UI-Docs repository.

Just to make sure I am on the right path, it is [this](https://github.com/fomantic/Fomantic-UI-Docs/blob/master/server/documents/modules/modal.html.eco) file and it's associated stylesheet I should be working with. Correct?

[2019-10-06 19:18] lubber-de commented on #1031
😨 Never thought about that...

Yes

[2019-10-06 19:19] TomerPacific commented on #1031
@lubber-de , thanks.
Do you want this issue to be moved there or should we handle things here?

[2019-10-06 19:21] lubber-de commented on #1031
@TomerPacific  If it's really related to the docs repo having some breaking additional CSS there, then we should move it over to the Docs Repo, i think

[2019-10-06 19:23] TomerPacific commented on #1031
@lubber-de , do you want me to open a new issue there or are you going to move this issue over there? I have no powers here 🎩

[2019-10-07 06:50] Ikaer opened #1071 "[Dropdown] Little css issue with edge and sub-submenus dropdown icon"
# Bug Report

## Steps to reproduce
1. Use the jsfiddle

## Expected result
Sub-submenus should have correct dropdown icon position

## Actual result
Dropdown icon is below the text of item

## Testcase
https://jsfiddle.net/jxwhk10m/ (to open with Edge to reproduce the issue)
_NB: my edge at the time was:
Microsoft Edge 42.17134.1038.0
Microsoft EdgeHTML 17.17134_

## Screenshot (when possible)
![

[2019-10-07 07:18] hammy2899 commented on #1071
This is also an issue on Safari (12.1 latest) and IE (11)

Edge:
![image](https://user-images.githubusercontent.com/11588822/66291954-fad09900-e8da-11e9-82d5-d11344f835b3.png)

IE:
![image](https://user-images.githubusercontent.com/11588822/66291883-d1b00880-e8da-11e9-87b6-ffb8585ac1ae.png)

Safari:
![image](https://user-images.githubusercontent.com/11588822/66291823-aaf1d200-e8da-11e9-8a4b-570ecc

[2019-10-07 07:49] luckymurari commented on #1021
I would like to work on this

[2019-10-07 08:00] hammy2899 opened #1072 "[Dropdown] action button has incorrect border radius"
# Bug Report

## Expected result
Dropdown should not have border radius between the action.

## Actual result
Dropdown has border radius as it normally would.

## Testcase
https://jsfiddle.net/pxstuqo9/

## Screenshot (when possible)
![image](https://user-images.githubusercontent.com/11588822/66294294-8ac51180-e8e0-11e9-88a8-3ba6fc05b6a4.png)

## Version
2.7.8

## Related issues
https://github.com

[2019-10-07 08:00] hammy2899 commented on #1072
A good fix to this would be to create a new variation for the dropdown of `ui action dropdown` which is the same as `ui action input` but its for the dropdown https://fomantic-ui.com/elements/input.html#action

[2019-10-07 08:04] 271ch commented on #319
1. FUI v3.0 2019 means that FUI v3.0 will be released in 2019?
2. Is the library implementations of `vue.js` listed in the  `v3.0 Road Map` something concrete? Is there already some code?

[2019-10-07 08:15] Flo4l commented on #1072
I would like to work on this issue :)

[2019-10-07 08:15] hammy2899 commented on #319
@271ch Yes a first party library for Vue will be shipped with v3.

Me and a few members of the core team are having a call this week about v3 which will hopefully push its development forward some more. I can't confirm when v3 will be released but it is most likely not 2019 because there is a lot of work to be done and we are only a small team.

[2019-10-07 08:31] Ikaer commented on #1071
The problem also appears in dropdown menu, not just menu.
![image](https://user-images.githubusercontent.com/7936075/66296297-87845280-e8ed-11e9-92ba-a9d2d1b833bf.png)

This is an example of the issue: https://jsfiddle.net/kz9wrdh4/
The workaround: https://jsfiddle.net/zda1ocnt/

This workaround is more general and work for both cases (initial issue and this one)
https://jsfiddle.net/7zdvbjec/

`.

[2019-10-07 08:43] Ikaer commented on #1071
So my workaround introduces some new problems:
![image](https://user-images.githubusercontent.com/7936075/66296904-e0081f80-e8ee-11e9-875b-9b16fe80255f.png)

Dropdown icon are not at the end of the item.

So I will let you find a proper solution guys :)

Thanks.

[2019-10-07 09:29] lubber-de commented on #1071
🤔 That was fixed at least for IE11 by https://github.com/fomantic/Fomantic-UI/pull/339 in 2.7.2
But even when using v2.7.2 today it's not working anymore...Seems like there have been updates for the browsers making this old change incompatible again.
Basically the reason for the mentioned browsers is lack of support for `min-width: max-content`

[2019-10-07 10:52] itsaakashpatel commented on #1072
@hammy2899 border-radius: unset property won't do the task?

Thanks!

[2019-10-07 10:57] hammy2899 commented on #1072
@itsaakashpatel Most likely yes but it would be better to add actions support to dropdown.

[2019-10-07 13:36] hannahblair commented on #873
Thanks! Will get to this ASAP.

[2019-10-08 13:23] TomerPacific commented on #1075
@lubber-de , after going over the modal.less file and inspecting the elements, it seems that if I add a style rule of margin-bottom, it should sort out the issue over all browsers.

![fix_bottom_margin](https://user-images.githubusercontent.com/23402988/66399095-9f400180-e9e7-11e9-932e-30b7da170b3e.jpg)

I wanted to ask two questions:

1. Do I test this solution in the same fashion described above

[2019-10-08 13:31] lubber-de commented on #1072
Fixed by #1073
See https://jsfiddle.net/7gf135dc/
@hammy2899 Do you want to open another issue with your `dropdown action` suggestion (although i think it's not needed now)

[2019-10-08 14:42] lubber-de commented on #1075
You should use `rem` unit instead of percentage

[2019-10-08 15:32] lubber-de commented on #1044
You might also have a look at the Fomantic-UI-Docs Repository 😉
https://github.com/fomantic/Fomantic-UI-Docs/issues?q=is%3Aissue+is%3Aopen+label%3AHacktoberfest

[2019-10-08 16:48] TomerPacific commented on #1075
@lubber-de,
after tinkering around for a while using the jsfiddle you provided, it seems like FIrefox and Edge do not respect the rule I have set up.

`body > div.ui.dimmer.modals.page.transition.visible.active > div {
  margin-bottom: 5rem;
}
`

I have read countless SO questions and articles and some suggested using padding (which works, but does not provide the desired solution).

When trying a

[2019-10-09 05:48] exoego opened #1077 "Automate merging dependabot's PR"
# Developer productivity for maintainers

## Description

Updating dependencies is important especially for security.

From 2019 July, Dependabot is keep opening many PRs almost daily.
Though it is very helpful, I think it also became a flood of GitHub notification for maintainers/watchers.

So I propose merge automation for minor dependency update using https://mergify.io/ or similar.
For major u

[2019-10-09 06:08] luckymurari commented on #1021
This seems to be too difficult for me :( I give up. Someone else please take it up.

[2019-10-09 07:15] hammy2899 commented on #1077
We've had a chat about this before (possibly in Discord). Previously we decided not to auto merge since it could break the build process however now we have CI which checks the build I have enabled auto merging in dependabot.

[2019-10-09 07:15] #1077 closed

[2019-10-09 07:17] hammy2899 commented on #1072
@lubber-de I'll just leave it for now since this is technically fixed and the only issue is the class naming isn't semantically correct.

[2019-10-09 13:56] lubber-de opened #1079 "[Modal] Large modals with less background and detachable: false get cut with wrong top positioning"
# Bug Report

The #1013 unfortunately introduced another positioning issue when `detachable:false` is used and the modal is a bit larger

## Steps to reproduce
1. Look at http://jsfiddle.net/bkh17Lgy/
2. Click on "Show modal" at the bottom
3. See the modal is cut at the top

## Expected result
Modal is displayed centered

## Actual result
Modal gets cut because top position has wrong calculated va

[2019-10-09 13:57] lubber-de commented on #1079
@prudho Do you have time to investigate into this again?

[2019-10-09 14:42] prudho commented on #1079
@lubber-de Actually no, work is swallowing my whole time... Feel free to take a look at it if you want !

[2019-10-10 00:59] exoego opened #1081 "Multi-panes layout for application"
# Feature Request

## Description

Multiple panes layout is common for a business application like mailer, messenger, file manager or something like that.

From surveilance,

* Each panes usually have its own viewport and scrollable individually.
* Panes also can have child panes as rows.

I think it is not simple to build such layout using current existing Fomantic-UI components.

* [Grid compone

[2019-10-10 07:18] ColinFrick commented on #1021
I'll look into this.

[2019-10-10 09:27] lubber-de commented on #840
Implemented by #1083

[2019-10-10 09:30] lubber-de commented on #1021
Implemented by #1082

[2019-10-10 13:03] jprateragg opened #1085 "Not text is being rendered but a handful of letters and question marks (?)"
# Help Wanted

## Problem
We're currently using 2.7.7 of Fomantic-UI. We're using a vanilla version--no themes/templates/building. Literally downloaded the repository and used the `dist` folder. The only other Javascript/CSS libraries we're using are jQuery, SignaturePad, and TinyMCE. Our application is an internal-only used by employees.

We have two types of users: those who use traditional Wind

[2019-10-10 13:15] lubber-de commented on #1085
I don't think this is releated to the FUI core.
- Please check the environment of your Virtual Desktops, especially global language
- check, if the VMs do have correct access to the internet (if you use the dist-files the google lato font will still be loaded via internet connection)
- if possible try to at least test once with another browser than IE in the VM Environment
- Please provide a  jsfi

[2019-10-10 13:33] lubber-de commented on #1085
It's probably related how your VMs are being accessed (Citrix, RDP,...) and i guess the font just cannot be rendered correctly to the display engine.
For this you might try to override all fonts globally (To a more common one like "Arial") if you just the dist files. For example like i mentioned here https://github.com/fomantic/Fomantic-UI/issues/367#issuecomment-452618383

[2019-10-10 13:36] jprateragg commented on #1085
@lubber-de This issue only happens randomly. The user will be working away and interacting with the application without any issues, then after their next click, the entire application renders this way. No amount of clearing cache, Ctrl + F5, or killing all instances of IE will fix it unless the user logs off/on again. But it will work fine for users for 3 days then out of the blue at 2:12pm in the

[2019-10-10 13:37] jprateragg commented on #1085
We don't have Chrome installed on the VM currently, but I'm working with our virtual desktop admin to get it on there so the next time this happens I'll try it in Chrome to see if the same thing happens there.

[2019-10-10 13:40] lubber-de commented on #1085
This definately sounds like a bug in the display engine how the desktops are being accessed or the IE Version within the VM is not patched (if it is probably not happening when using another browser within the VM)

[2019-10-10 13:42] jprateragg commented on #1085
My question though is--why just this one site? This is literally the only site our users have issue with. I don't know of any other sites our users use that have this kind of problem. Virtual desktop users have semi-fullish access to the internet so I know they have full access to Google fonts and what not.

[2019-10-10 14:08] lubber-de commented on #1085
@jprateragg As i guessed before: Maybe it's the only site which uses the Lato Font?
Please try to override it to make sure it's not related to it.

FUI also makes heavy use of GPU acceleration (`translate3D`, etc...)
A VM usually does not have a real dedicated GPU, which might also be a reason.
Check with your VM admins if, at least for testing purposes, you can assign a vGPU to the VMs (or check

[2019-10-10 16:54] NestorSegura commented on #1059
Hello,

I would like to fix this issue, but I quite don't get what really the problem is. Could you please add an Screenshot?

[2019-10-10 19:47] jamessampford commented on #1059
Overall, it’s an enhancement of the dropdown description (as per example in the link and mini screenshot) rather than a problem but with the alternative position/style mentioned previously as well as other desired enhancement (data-attribute tags on select options) to populate the description

Though there is a problem with description as it is now (see info box on link), because when the descript

[2019-10-11 08:43] unbreak opened #1086 "[calendar] disabledDates on month mode/type"
# Help Wanted
Is any way set disabledDates on calendar in month mode?

## Problem
I've tried set:
[code]

But it didn't work, when i switch type to `day` it woks fine :)

[2019-10-11 09:01] hammy2899 commented on #1086
Currently you can't simply disable a month or year however I think we could easily do this by adding `month` and `year` options to the `disabledDates` object.

Example:
[code]

This logic would need to be added to the `isDisabled` helper function https://github.com/fomantic/Fomantic-UI/blob/master/src/definitions/modules/calendar.js#L836

[2019-10-11 15:50] ziaratban opened #1087 "[modal] modal hides when clicking on scrollbar"
hi
modal hides when clicking on scrollbar.
note : this bug occur when body direction is `rtl`.

http://jsfiddle.net/vz92gfLo/

## Version
2.7.8

[2019-10-11 16:25] ziaratban opened #1089 "[dropdown] input focus out when `minCharacters` more than one char in api mode"
hi
focus out of input when `minCharacters` more than one char in api mode.

**step by step**
inject below js code in home page of [Fomantic-UI](https://fomantic-ui.com/)
[code]
after code injected , modal opens.
then search `abc` in dropdown and you see `No results found.`.
now press `CTRL + A` (select all) and type only `a` character  , **finally focus out occur**

## Version
2.7.8

[2019-10-11 16:26] lubber-de commented on #1087
Fixed by #1088
See your adjusted jsfiddle here http://jsfiddle.net/e59rqp8n/

[2019-10-11 17:08] szalonna commented on #1086
I would like to take that!

[2019-10-11 17:24] lubber-de commented on #1089
Confirmed,I made a jsfiddle testcase. It does not even have to be a modal and it also happens, when you just try to press backspace.
http://jsfiddle.net/s4p0henv/

![backspace_vanish](https://user-images.githubusercontent.com/18379884/66671623-c2271b80-ec5c-11e9-90ec-6101c986f7ca.gif)

[2019-10-11 20:44] szalonna commented on #1086
I started to implement this but I have a question in related to the months. In opposite of years and dates, months are repeating. In dates there is the `disabledDaysOfWeek` for disabling repeated days on weekly basis, but what happens if the user set e.g. the month to a specific date or a number?

Possible implementations:
1. Mix repetitive and non-repetitive disable as:
  - if the `month` is a da

[2019-10-11 21:13] szalonna commented on #1086
And another question: do you want to introduce the same behavior with the `enabledDates` rules as well?

[2019-10-11 23:02] lubber-de commented on #1075
@TomerPacific @jjylha
I finally found a way around this and fixed it by #1090
Please try https://jsfiddle.net/zt0cfo6d/1/

[2019-10-13 18:31] lubber-de commented on #778
Finally fixed by #1092
See your adjusted jsfiddle here https://jsfiddle.net/y6qmp8bd/

[2019-10-13 19:23] jamessampford opened #1094 "[Form Validation] Automatically add empty rule validation for required fields"
Not sure if it exists, don’t believe it does, but how about automatically adding form fields (input/textarea/select) that have the `required=“required”` attribute on them as a validation rule for the empty check? Some other `input` could also have automatic rules, such as `type=“number”` with the min/max attributes, etc etc. Could potentially have it apply with the required+field/fields classes to

[2019-10-13 20:46] lubber-de commented on #1042
Closing because prudho's advise works as expected with the current codebase and there was no more response from the issuer.
The poposed solution can be tried here http://jsfiddle.net/4tacdvLq/

[2019-10-13 20:46] #1042 closed

[2019-10-13 21:28] lubber-de commented on #1089
Fixed by #1095

[2019-10-14 06:09] jjylha commented on #1075
Seems to work than you :)

Just one thing. :not(.fullscreen) should probably be :not(.overlay.fullscreen)? I mean fullscreen modal needs that consistent margin too?

[2019-10-14 06:12] jjylha commented on #1075
Well :not(.overlay.fullscreen) doen not work. Maybe just :not(.overlay) ?

[2019-10-14 06:32] lubber-de commented on #1075
@jjylha Good catch! Changed the PR accordingly :wink:

[2019-10-14 18:55] aexvir commented on #997
👋 Hi there! I'd like to take this one

[2019-10-15 09:06] #132 closed

[2019-10-15 09:08] #341 closed

[2019-10-15 09:13] hammy2899 commented on #374
Closing because the decision towards jQuery has been made so this issue no-longer has any relevance.

[2019-10-15 09:13] #374 closed

[2019-10-16 07:12] exoego opened #1097 "[Form] More field states"
# Feature Request

## Description

`ui form` supports several states: `loading`, `success`, `error` and `warning`.

Form's child element `field` supports only [`error` state](https://fomantic-ui.com/collections/form.html#field-error).
It would be great if `field` also support `warning` state, so warning-level check (can be submited but not recommended) can be visually expresed.

I don't think `loa

[2019-10-16 08:21] jamessampford commented on #1097
There could potentially be a use case for `success` - such as a visual password strength check, or showing something entered is valid or unique

Seems there already is `loading` https://fomantic-ui.com/elements/input.html#loading

[2019-10-16 08:27] hammy2899 commented on #1097
@jamessampford `loading` is for [Input](https://fomantic-ui.com/elements/input.html) not [fields](https://fomantic-ui.com/collections/form.html#field) see https://jsfiddle.net/fjwk79xs/

[2019-10-16 08:30] exoego commented on #1097
That use-case sounds reasonable !!

I will open a PR to add `success` and `warning` state to `field`.
`loading` may be added subsequently when use-case provided.

[2019-10-16 09:34] hammy2899 commented on #1097
@exoego Might as well just add all the states so they are all supported (`warning`, `info`, `success`, `error`)

[2019-10-16 18:56] jprateragg commented on #1085
@lubber-de Per your suggestion, I've removed the Google font and re-built Fomantic-UI. I'm going to get this in a test environment and see if the problem persists. Our VMware admin is still looking into the issue.

[2019-10-16 22:48] exoego opened #1099 "[Form] Refactor input's [type]s"
# Feature Request

## Description

* Problem 1. `[type]`s are bloaded and duplicated
    * https://github.com/fomantic/Fomantic-UI/pull/1098#discussion_r335449826
* Problem 2. Some `[type]`s are missing (`month`, `week` and `range`)
    * According to https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input

[2019-10-17 01:58] aexvir commented on #932
👋 I made a PR for this one

[2019-10-17 02:03] exoego commented on #932
@aexvir
Thanks for jumping into this issue.
Your PR #1101 LGTM, but I wonder when ignoreCase in search is useful.
Do you have use cases?

[2019-10-17 02:46] osmarpetry commented on #377
@Pastacro is no image we can see

[2019-10-17 03:06] exoego commented on #377
@osmarpetry
Actually, there was no image attached.
I as maintainer removed the confusing `Screenshot` and `Testcase` headers.

[2019-10-17 08:07] aexvir commented on #932
I think this question would be better answered by @tiaagosr , as the issue author. To be honest, I think I rushed a bit jumping into this, but it was a small fix and the only comment agreed with it, even if it's an old issue.

Personally, I can't really think of many use cases where this would be useful, maybe some case-sensitive ID, where case sensitivity could bring the result a bit faster? Not

[2019-10-17 15:15] ronnievdc opened #1103 "[Dropdown] Setup select does not convert data-text to Menu items"
# Feature Request

## Description
When converting select dropdowns to dropdown menus with `$('select').dropdown()` the data-text metadata is not copied over to the menu dropdown.

Having this feature makes it possible to create select with optgroups, where the visible chosen value as label also contains the optgroup label.

## Example

## Testcase
https://jsfiddle.net/6hdtzybr/

[2019-10-18 03:36] davidlav opened #1105 "[Dropdown] Multiple Selection onChange acts like onAdd when data is initialized with JavaScript"
# Bug Report

Multiple Selection Dropdown onChange listener behaves almost identically to onAdd when data is initialized via JavaScript as opposed to through HTML.

## Test Case

Add Male, add Female, remove Male, remove Female.

## Expected result

With HTML:

[code]

and JavaScript:

[code]

Console output:
[code]

_This is how it should be._  onChange shows current selection after every additio

[2019-10-18 14:35] aexvir commented on #105
@hammy2899 @lubber-de I can take this one. What would be the acceptable PR for this?

[2019-10-18 14:37] hammy2899 commented on #105
@aexvir Go for it 👍

We just want basic styles for the file input button like the comment from @lubber-de above

[2019-10-18 14:38] hammy2899 commented on #105
@aexvir We want to add this as a module but adding the styles will be a start.

[2019-10-18 14:39] aexvir commented on #105
Alright, so I'll go just for styles on the first PR and afterwards we can make an issue for adding more functionality to it, with specific requirements that will be added as another PR. Does that make sense?

[2019-10-18 14:40] hammy2899 commented on #105
@aexvir Yeah that's fine 👍

[2019-10-18 14:45] aexvir commented on #932
Shouldn't this issue have been closed @hammy2899 ?

[2019-10-18 14:47] lubber-de commented on #932
@aexvir We close alle related issues when the new release is published

[2019-10-18 15:00] Bradley-H opened #1106 "UI menu not at the top of the windows"
When I'm making a menu it's not like up aginst the very top of the window. I have to manually edit my styles to have the menu up against the top portion of the window

![Screenshot at 2019-10-18 22-56-48](https://user-images.githubusercontent.com/37282160/67105143-ccb45880-f1fa-11e9-9e31-3b9b7f780d8f.png)

[2019-10-18 15:10] lubber-de commented on #1106
This should not happen could you please provide a jsfiddle to replicate?

[2019-10-18 15:58] GammaGames commented on #1106
It kinda looks like some browser default margin shenanigans

[2019-10-18 20:45] neokio opened #1107 "Add node requirement to README.md"
# Feature Request

## Description

After many years of Semantic-UI fandom, I grew disheartened by its lack of maintenance. Dozens of small problems like lack of gulp 4 support added too many steps to my deployment process. Today, I discovered Fomantic-UI, and I'm super excited to try it out! But my initial install experience was problematic because `node@10` is required, and the latest (`node@12`)

[2019-10-18 21:49] hammy2899 commented on #1107
@neokio Could you please run these commands and post your output.

[code]

We run our CI on node 8, 10, 11 and 12 and they all past in their last run so I would like to investigate in to why it is not working for you.

[2019-10-18 22:41] Bradley-H commented on #1106
I found out the problem, I'm using Svelte.js and some of their pre-set css definitions gave the header a 8px padding which gave it that look.

[2019-10-18 22:41] #1106 closed

[2019-10-18 22:47] Bradley-H opened #1108 "Give ui image a set max-height"
So, right now with my cards' image not perfectly aligned without a max height. Currently height is set to auto which give undesirable results.

![Screenshot at 2019-10-19 06-44-08](https://user-images.githubusercontent.com/37282160/67132608-e3c76a80-f23b-11e9-9d27-941ae4b4fe09.png)

I think it would be more fitting to give the images (small, mini, medium...) image sizes a fixed max-height and max-

[2019-10-19 13:21] aexvir commented on #105
So... I'm not that sure about this tbh. I can't get anything much better than @lubber-de 's solution, which is literally just a three line code change, as all the work is done in the label and not the input itself.

Webkit does allow some more fantasy with the input styling but I don't think that's an acceptable solution.

For all the rest of the stuff we'll need javascript, even for the basic stu

[2019-10-19 14:34] lubber-de commented on #1108
Could you please provide a jsfiddle with your above result? Did you use `ui cards` as a wrapper around your single cards?
Usually cards should have the same height and the image adjusts the overall cards height, because the card width is fixed.
See https://jsfiddle.net/1z2oL6c9/
Otherwise image sizes are currently ignored in cards to make sure the images fits the width.

[2019-10-19 18:56] bornemisza commented on #319
Can we include some great utility into Fomantic UI in near future?

Bootstrap having a spacing utility (https://getbootstrap.com/docs/4.3/utilities/spacing) which is very useful thing in ui stack. I love to work with fomantic ui, honestly more then bootstrap, but boring to implement custom css for every project with this little things)

I think it would be a great new feautre to use something like

[2019-10-19 18:58] hammy2899 commented on #319
@bornemisza This has already been requested (https://github.com/fomantic/Fomantic-UI/issues/22) and it will be getting added for v3

[2019-10-20 18:40] neokio commented on #1107
I restarted, and reinstalled node 12.12.0 to recreate the error, and now the install (and build) works perfectly. Works like a charm on the latest ...

[code]

Chalk this up to unknown user error. It was a fresh install of all tools and services, perhaps restarting was the key. I appreciate you taking the time!

[2019-10-20 19:04] #1107 closed

[2019-10-22 01:47] batata004 commented on #319
Just wondering if there is already any alpha version we can test of v3? Very anxious!

[2019-10-22 07:23] hammy2899 commented on #319
@bartocc

See https://github.com/fomantic/Fomantic-UI/issues/319#issuecomment-512185785

The only change from this comment is me and a few team members have had a call and we are moving forward with a repo which they are getting familiar with. This could mean early development could start in the next 2-3 months.

[2019-10-22 12:03] bartocc commented on #319
@hammy2899 I believe you meant to mention @batata004

[2019-10-22 12:19] hammy2899 commented on #319
@bartocc Oh yeah sorry 😄

[2019-10-22 17:06] rkomiyama commented on #1071
Why not just use flexbox instead of using floats? I've implemented a solution, but it would require modifying any existing HTML.

[2019-10-22 17:09] lubber-de commented on #1071
@rkomiyama Could you provide a jsfiddle with your solution?

[2019-10-22 17:15] rkomiyama commented on #1071
Actually, I found a way to provide enough specificity to get around the `!important` tag.

https://jsfiddle.net/14o6wm90/

[code]

[2019-10-22 17:20] lubber-de commented on #1071
@rkomiyama well, beside the relive of !important
The result is already the same as  suggested by @Ikaer before here https://github.com/fomantic/Fomantic-UI/issues/1071#issuecomment-538899063

[2019-10-22 17:22] lubber-de commented on #1071
If you can also fix the icon position issue, then go for a PR 🙂

[2019-10-24 10:25] hammy2899 commented on #1086
@szalonna Sorry for late reply.

I agree with @unbreak and think the first option better suits the current implementation.

[2019-10-24 13:11] ko2in opened #1118 "[Modal] Close button inside header"
# Feature Request
That would be nice if the modal supports the close button to display inside the header instead of displaying outside of the modal window.

## Description
I prefer the close button of modal to place inside the header. Now, I have to overwrite Fomantic UI CSS to adjust the location of the close button.

## Example
The [full screen modal](https://fomantic-ui.com/modules/modal.html#f

[2019-10-24 14:39] jgilbertcastro commented on #1118
can i test this with raw html or vuejs?

[2019-10-25 05:56] exoego opened #1124 "[Form] Show/hide message depending on field state"
# Feature Request

## Description

`.ui.message.{STATE}` should be shown when the parent `.field` has `.{STATE}` class, otherwise should be hidden,  as similar to [`.ui.form.{STATE}` do so](https://fomantic-ui.com/collections/form.html#field-error).

I think this is useful to control visibility of field-level message depending on field state.

## Testcase
Current:
https://jsfiddle.net/tsL6me0x/

E

[2019-10-25 05:59] exoego commented on #1124
I will address this in PR #1098 or subsequent PR if this suggestion is fine.

[2019-10-25 06:15] lubber-de commented on #1124
As nobody reviewed your PR so far (i try to do it today), i think this addition could be implemented directly in #1098

[2019-10-25 06:18] lubber-de commented on #1118
@jgilbertcastro As it should be adjustable via CSS only, you can test this however you want, as long as the markup is compatible. I would use the docs website @ko2in  mentioned above and resize the screen to test/see the effect and play with changes in developer console

[2019-10-25 08:19] exoego commented on #1124
Thanks, added in PR #1098

[2019-10-25 10:03] hammy2899 opened #1125 "Possible change in brand identity for v3?"
This will most likely come as a shock to most people however please read the full issue before leaving a comment.

I also want to make clear this is not a confirmed decision which is why we are opening this issue in the first place. This is a community focused project which is why we want YOUR feedback and thoughts on the topic.

---

I recently had a catch up call regarding v3 (https://github.com

[2019-10-25 10:08] victorcerutti commented on #1125
Are there any possibility to get back to the "semantic ui" name ?
That's what would make more sense, even if of course it's only dependent of your will

[2019-10-25 10:12] hammy2899 commented on #1125
@victorcerutti Currently know as we have no authority or way to make changes to the SUI repo or GitHub org. Also as I said SUI has a large stigma which I think most of use agree we should try and move away from.

However as it says on our repo [README](https://github.com/fomantic/Fomantic-UI/blob/fb9ec3372674509e668110a670de59c6471145d4/README.md) we have the intent to merge back into the SUI repo

[2019-10-25 11:23] fridzema commented on #1125
My vote goes to just fomantic without the UI :)

[2019-10-25 11:33] maidzen commented on #1125
moving on is the right choice in my opinion SUI is most likly dead and even if an update arrives now how should we trust him that he not leaves for another year.

Instead of finding a synonyme for semantic we should maybe focus on why it is "semantic" in the name
i would say something like "meaningfull UI" or "Suggestive UI"

[2019-10-25 13:06] GammaGames commented on #1125
Even of you google “fomantic ui” it almost  always brings up the site for semantic for me, which makes it harder for people to find anyway

[2019-10-25 13:19] prudho commented on #1125
When @hammy2899 started forking SUI and bringing interested people in the freshly created Discord, my first ever comment was: "Fomantic ? What does that mean !?"... So yeah, confusing name... But I stayed anyway 😄

This idea of "rebranding" the framework is IMHO a great opportunity and will allow us to have a better visibility and to move away from its defunct's relative.

Since I really suck as n

[2019-10-25 14:58] whoisryosuke commented on #1125
I would just stick with the name.

All the branding and SEO you’ve built up gets thrown away when you change the name. Suddenly all the blog posts about Fomantic become irrelevant.

If the purpose is to still maybe not be merged back into SUI, but get used as it’s predecessor, you should keep some semblance of the original name.

SUI may have a stigma with some, but the point of *this* brand is to

[2019-10-25 16:44] lubber-de commented on #1125
That's a very important concern! I am not a SEO expert, but it took over a year now to somehow get fomantic known and i am afraid that...

... this is going to happen again with a completely new name

Maybe we could think about following a (long) strategy to keep both for a while and slightly get the community used to a new name.

### Step 1
fomantic - semantic UI fork using natural classnaming

#

[2019-10-25 16:56] hammy2899 commented on #1125
@lubber-de I like the idea of changing over time however I think there is some caveats, at what step do you rename the repos and packages. Remember renaming npm packages would lose all of the current versions associated with the old name since you can't rename a package you can only publish it as another.

[2019-10-25 16:59] Atulin commented on #1125
I also vote for just dropping the "UI" part.

Also, the problem with most of the proposed names is that they are actual words. Yes, it's good because it's easy to remember, but it's bad SEO. If I google "Prose", I'll get results that define whtat prose is. If I Google "Essential UI", I'll get links to courses and tutorials on essential UI elements, and so on.

"Fomantic" not being a word is actual

[2019-10-25 19:14] trandromeda opened #1126 "[Checkbox] A checked radio input is being hidden by label::before (Angular)"
# Bug Report

In Angular 7, I've tried various iterations of the radio checkbox straight from the Semantic documentation and initially found that when checking a radio checkbox *on*, it would display the checked state on very briefly before appearing to be checked off again.

This was puzzling because I have used radio checkboxes successfully elsewhere in our application. There was nothing special

[2019-10-25 20:30] lubber-de commented on #1126
I am unfortunately not able to reproduce this using raw FUI 2.7.8
There is probably something Angular is doing to your checkboxes while managing states. (?)

Here is a jsfiddle: https://jsfiddle.net/o8vzutak/
Please try to adjust it accordingly, so we are able to reproduce the issue
Thank you

[2019-10-25 21:35] filozof595 commented on #1125
If I'm correct you plan to rewrite most (if not all) of the components, remove jquery, add some new components etc...

Why not just start over...? Make a completely new freamwork that takes it's inspiration from Semantic-Ui.

I know that this would require a lot of work to do but I think it's the best way.

For the name, I like Natural or Lexical.

[2019-10-25 21:49] maidzen commented on #1125
Losing the spirit of what semantic has would mean losing a lot of users because most are here to have an "updated" version of semantic

[2019-10-25 22:17] filozof595 commented on #1125
Why would you loose the spirit of Semantic? I was just saying that you can use a new name and brand it as a new freamwork that is inspired by Semantic.

Just like you created Fomantic in the first place.

At the end, the users like Semantic because of the easy syntax and the simplicity of the framework. Just make sure you have all that in the v3 and you would have a lot more users regardless of th

[2019-10-26 04:20] Bradley-H commented on #1125
my opinion would be to keep it, taking it and rebranding it would almost be a slap to the face to the orginal creator of Semantic UI.

[2019-10-26 08:49] victorcerutti commented on #1125
My major concern would be SEO too
If you change the name to anything other than semantic or fomantic you will lose the SEO benefit of the community that asked for question and got answers.
The answer to your issue could be on stackoverflow with the name "semantic UI" or "fomantic UI" and you wouldn't find it with the new name. Currently I always have to google both term to optimize my chance of fi

[2019-10-26 08:54] maidzen commented on #1125
@filozof595 that's reasonable i misunderstood it as "drop the work and start over" because "keeping some inspiration" sounded just like nothing :)

[2019-10-26 14:14] lilouch opened #1127 "Onchange Calendar not working properly"
I try to implement a calendar only with the date. I would like to get the value of the current selected date on change.
[code]
[code]
So far, it's working. I got my alert and the date selected.
However, I'm not interested in time. So, when I initialize a date type calendar, the change is not working anymore. I'm not able to get the current selected value.

[code]

Finally, when I implement the ran

[2019-10-26 16:34] working-name opened #1128 "[transition] leftover style="" entry"
# Bug Report

## Steps to reproduce
1. Create an item to be animated, I chose a tag
2. Animate the tag with "pulse"
3. Inspect element that was just animated to find a custom "style" attached to it

## Expected result
No custom `style="display: inline-block !important;"` entry for the element once the animation is done

## Actual result
Leftover `display: inline-block !important;` on the element.

[2019-10-26 23:56] lubber-de commented on #1127
Please try the following working fiddle, because the date is returned just fine also when using `type:'date'`.

[2019-10-27 08:13] tranlehaiquan commented on #843
I didn't got overlapse but i got this instead:
![image](https://user-images.githubusercontent.com/17347993/67631715-4c61b780-f8cc-11e9-80f1-0ba68919969a.png)

[2019-10-27 12:37] mpoonuru commented on #1125
I respect you. You did a great job. I accept whatever the name you Decide. I believe that everybody accepted fomantic-UI and using it. I believe that the new name decided by you will be accepted. Thanks for considering us and involving us in this project.

[2019-10-27 17:22] tranlehaiquan commented on #843
Sorry I got it : D

[2019-10-28 22:25] lubber-de commented on #316
Implemented everything by #1129 😁
Sorry it took so long

[2019-10-28 22:26] lubber-de commented on #315
Implemented by #1129

[2019-10-28 22:27] lubber-de commented on #280
Finally possible by #1129

[2019-10-28 22:27] lubber-de commented on #160
Available by #1129

[2019-10-28 22:28] lubber-de commented on #566
Possible by #1129

[2019-10-29 07:43] jjylha opened #1130 "Ordered and suffix list styles bug after 9."
# Bug Report

When ordered list (with added dots from list.variables) or suffix list has numbers over 9. the styling fails.

## Steps to reproduce
https://jsfiddle.net/qgms8p07/

## Expected result
Numbers have the same margin relative to text no matter how big the number is.

## Actual result
When list number is bigger than 9. the number/dot will have no margin relative to text and will even over

[2019-10-29 08:02] gaku-sei opened #1131 "Unstackable field group don't have any margin on mobile"
# Bug Report

Not sure if it's a bug, or if I'm just misusing the library. The margin bottom for unstackable form group is set to `0` on mobile which leads to inconsistent UI.

Notice that the margin appears on desktop.

## Code

[code]

## Expected result

Homogeneous margin.

<img width="326" alt="Capture d’écran 2019-10-29 à 17 00 11" src="https://user-images.githubusercontent.com/3982371/677

[2019-10-29 08:49] hammy2899 commented on #1131
@gaku-sei Could you please create a [JSFiddle](https://jsfiddle.net/31d6y7mn) to help us replicate your issue.

[2019-10-29 09:14] lubber-de commented on #1131
I think you mixed up some components here 😉
- It should be `ui unstackable grid` instead of `unstackable fields`
- It should be `wide column` instead of `wide field`

I prepared a little jsfiddle. If those hints do not help you to solve your issue, please adjust the example, save it in jsfiddle again and provide a reproducable testcase. Thank you 🙂

https://jsfiddle.net/9f7ovmdc/

[2019-10-29 10:37] exoego commented on #1130
I will look into this.

[2019-10-29 10:43] exoego commented on #1130
This is similar to https://github.com/Semantic-Org/Semantic-UI/issues/2332

[2019-10-29 10:44] lubber-de commented on #1130
...and also
https://github.com/Semantic-Org/Semantic-UI/issues/2639
https://github.com/Semantic-Org/Semantic-UI/issues/2701
https://github.com/Semantic-Org/Semantic-UI/issues/5003
https://github.com/Semantic-Org/Semantic-UI/issues/5493

[2019-10-29 10:47] exoego opened #1132 "Ordered list does not support "start" attribute"
# Bug Report

`<ol>`-based ordered list does not support native `start` attribute.
Ref. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol

## Steps to reproduce

`<ol class="ui ordered list" start="100">`
https://jsfiddle.net/y42Lu9ds/

## Expected result

The counting of ordered list starts from `100`

## Actual result

Starts from `1`

## Version
2.7.8

## Related
#1130: Ordered list

[2019-10-29 10:52] exoego commented on #1130
I am not familiar with `counter`-things in CSS.
I wonder this is fixable without breaking change 🤔

[2019-10-29 11:27] exoego commented on #1132
Initial number of `counter` can be set like `counter-reset: ordered 100`, but using `attr(data)` seems impossible since `attr` function returns `string` by default.

In future, we can speciry type and default value in `attr`, but it seems unsupported in current browsers.

[code]

[2019-10-29 18:39] romaninsh commented on #1125
- fantastic ui

[2019-10-30 08:19] gaku-sei commented on #1131
@lubber-de Thank you very much for your answer! I used the grid component at first, but wondered if the field related components could help achieving the same thing.
So for this kind of use cases, grid seems the way to go then 👍

[2019-10-30 08:21] #1131 closed

[2019-10-30 09:00] dandrei opened #1134 "Layout examples should include an example of a sidebar layout like the one used in the documentation"
I'm trying to build a page that has a sidebar (or both a sidebar and a top appbar / navbar), and none of the Layout examples are helping. I tried mixing and matching the components and I never manage to obtain quite the result that works in the documentation (e.g. the [Build Tools](https://fomantic-ui.com/introduction/build-tools.html) page), a simple sidebar on the left with content on the light.

[2019-10-30 21:45] dutrieux opened #1136 "Size setting for dropdown"
# Feature Request

## Description
I use <select> on my html with $('#select').dropdown() to converted to selection dropdown. To set the size, only posibility is to change the property className.dropdown : like $('#select').dropdown({className:{dropdown:'ui **mini** dropdown'}});

I would be nice, if we can have a property to set the size through settings

[2019-10-31 13:34] hammy2899 commented on #1136
Dropdown size is a visual change so should be applied using CSS via a class which is the current implementation.

[2019-10-31 13:34] #1136 closed

[2019-10-31 15:45] hammy2899 commented on #930
@mightyvoodoo Is this still an issue?

[2019-10-31 15:59] hammy2899 commented on #1044
Today is sadly the last day of Hacktoberfest 🎃

I wanted to say a massive thank you to all the amazing people who have contributed this month! Like I have said multiple times this is a community focused project so the more the community becomes involved the better the project will become and this month the community has helped us ship bug fixes and features for our next release so get existed!

Fo

[2019-10-31 15:59] #1044 closed

[2019-10-31 16:12] mightyvoodoo commented on #930
Hello there! Sorry for very long answer.
Currently I'm on the same version. As soon as possible I'll be able to update and check.
Thanks for replies :+1:

[2019-10-31 18:32] rmarchiori opened #1138 "When detachable false modal is not centered when dynamic content is added"
# Bug Report
Modal is not centered when dynamic content is added to it

## Steps to reproduce
1. Click button modal is centered after 5s nre content is added and it is not centered anymore

## Actual result
Modal should be centered

## Testcase
[fiddle](http://jsfiddle.net/e0L176sw/7/)

[2019-10-31 20:00] lubber-de commented on #1138
This is fixed by https://github.com/fomantic/Fomantic-UI/pull/1096
See your adjusted jsfiddle here http://jsfiddle.net/td396ap8/

[2019-10-31 20:57] dutrieux commented on #1136
Ok thx for this tip :

https://jsfiddle.net/fhtyzqso/

[2019-11-01 07:36] CmdrMahesh opened #1139 "Fomantic-UI change Slider label"
#Fomantic-ui slider change labels texts

## I wonder if there is any way to change the texts that are displayed in the range slider.
I found `labelType:'letter'` which shows A, B, C type label but if it could be possible to show custom texts such as Max, Medium,Low.

[2019-11-01 08:03] CmdrMahesh commented on #1139
I found
`<ul class="ui labels">
      	<li class="label"><</li>
        <li class="label">=</li>
        <li class="label">></li>
 </ul>`

it works and changes the label but it doesn't cover labels at the edge like the default slider shows.

[2019-11-01 08:16] ColinFrick commented on #1139
You could use the (undocumented) `interpretLabel` setting. it should be a `function(value)` which returns the label.
Example using the greek alphabet: https://jsfiddle.net/t9Lms5ra/

[2019-11-01 08:23] CmdrMahesh commented on #1139
thank you it worked fine.
maybe this should be added to docs :)
:+1: